GeyserWorx.json
[{"id":"5395d339.48846c","type":"tab","label":"Setup","disabled":false,"info":""},{"id":"3dddaeea.f4e652","type":"tab","label":"Data Sampling","disabled":false,"info":""},{"id":"90588a53.b682a8","type":"tab","label":"Timers","disabled":false,"info":""},{"id":"94e0adf3.31d6b","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"c8c78f4d.679e8","type":"subflow","name":"csvColumnParser","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"a8857356.d49e68"}]}],"out":[{"x":900,"y":80,"wires":[{"id":"d71e0bef.46647","port":0}]}],"env":[]},{"id":"ebe4365e.c94b18","type":"subflow","name":"Dashboard 1","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"28f0c64b.f78d7a"}]}],"out":[{"x":640,"y":40,"wires":[{"id":"1fd0e69c.ec9b69","port":0}]},{"x":640,"y":80,"wires":[{"id":"29d6985d.5d8258","port":0}]},{"x":640,"y":120,"wires":[{"id":"d87d151e.0da718","port":0}]},{"x":640,"y":160,"wires":[{"id":"136a01c6.707ebe","port":0}]},{"x":640,"y":200,"wires":[{"id":"a0bd42d7.b3a9c","port":0}]},{"x":640,"y":240,"wires":[{"id":"2b040132.7b33be","port":0}]},{"x":640,"y":280,"wires":[{"id":"a6b2625a.70167","port":0}]},{"x":640,"y":320,"wires":[{"id":"acd27697.bbe018","port":0}]},{"x":640,"y":360,"wires":[{"id":"12b01944.52f177","port":0}]},{"x":640,"y":400,"wires":[{"id":"fbe53d83.501a","port":0}]},{"x":640,"y":440,"wires":[{"id":"fe97ea5b.065858","port":0}]},{"x":640,"y":480,"wires":[{"id":"1c8ff834.ddcad8","port":0}]},{"x":640,"y":520,"wires":[{"id":"85f91d5.8785ce","port":0}]},{"x":640,"y":560,"wires":[{"id":"78cd83e0.e4efcc","port":0}]},{"x":640,"y":600,"wires":[{"id":"7f58b412.8b026c","port":0}]},{"x":640,"y":640,"wires":[{"id":"807ff01c.132b1","port":0}]},{"x":640,"y":680,"wires":[{"id":"bb87cf3a.d914a","port":0}]},{"x":640,"y":720,"wires":[{"id":"10f4fc57.08c844","port":0}]},{"x":640,"y":760,"wires":[{"id":"58bab2d0.f4cfdc","port":0}]},{"x":640,"y":800,"wires":[{"id":"5a71b241.76eb4c","port":0}]},{"x":640,"y":840,"wires":[{"id":"6aeddd83.d288c4","port":0}]}],"env":[],"color":"#87A980","inputLabels":["Trigger"],"outputLabels":["Heading","AC On","PV On","Boost On","AC Setpoint","Boost Setpoint","PV Setpoint","Gauge","G1ACkW","G1PVkW","G1ACCost","G1PVCost","G1PVUsage","G1Carbon","Alarms","AC Current","PV Current","PCB Temperature","AC Enable","AC Boost","PV Enable"],"icon":"node-red/db.svg","status":{"x":200,"y":140,"wires":[{"id":"28f0c64b.f78d7a","port":0}]}},{"id":"b0690eac.2cf5f","type":"ui_group","name":"Dashboard","tab":"f0628843.17a088","order":1,"disp":false,"width":"6","collapse":false},{"id":"f0628843.17a088","type":"ui_tab","name":"Dashboard","icon":"fa-shower","order":1,"disabled":false,"hidden":false},{"id":"3dbab8ea.80bc68","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"GeyserWorx Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8c690c19.c1fce","type":"ui_group","name":"Charts","tab":"f0628843.17a088","order":2,"disp":false,"width":"20","collapse":false},{"id":"9a9a4f5d.b30e5","type":"ui_group","name":"Configuration","tab":"337d2a55.f14e56","order":1,"disp":false,"width":"4","collapse":false},{"id":"9a077295.45684","type":"ui_group","name":"Timers","tab":"8468e6be.7052b8","order":5,"disp":false,"width":"4","collapse":false},{"id":"8468e6be.7052b8","type":"ui_tab","name":"Timers","icon":"fa-clock-o","order":2,"disabled":false,"hidden":false},{"id":"525bfa1b.1d4314","type":"ui_group","name":"Timer 1","tab":"8468e6be.7052b8","order":1,"disp":false,"width":9,"collapse":false},{"id":"ced53405.48f1d8","type":"ui_group","name":"Timer 2","tab":"8468e6be.7052b8","order":2,"disp":false,"width":"9","collapse":false},{"id":"a4ab6bf4.8a9088","type":"ui_group","name":"Timer 3","tab":"8468e6be.7052b8","order":3,"disp":false,"width":"9","collapse":false},{"id":"4a50a911.8d76b8","type":"ui_group","name":"Timer 4","tab":"8468e6be.7052b8","order":4,"disp":false,"width":"9","collapse":false},{"id":"6e17f487.cc820c","type":"ui_spacer","name":"spacer","group":"525bfa1b.1d4314","order":5,"width":1,"height":1},{"id":"115a813c.c8a16f","type":"ui_spacer","name":"spacer","group":"ced53405.48f1d8","order":5,"width":1,"height":1},{"id":"df23ed40.fe2ac","type":"ui_spacer","name":"spacer","group":"a4ab6bf4.8a9088","order":5,"width":1,"height":1},{"id":"fab23069.9bc4","type":"ui_spacer","name":"spacer","group":"4a50a911.8d76b8","order":5,"width":1,"height":1},{"id":"f0ae256.27502d8","type":"ui_spacer","name":"spacer","group":"9a077295.45684","order":2,"width":1,"height":1},{"id":"337d2a55.f14e56","type":"ui_tab","name":"Configuration","icon":"fa-cog","disabled":false,"hidden":false},{"id":"efe91aea.44c2b8","type":"ui_group","name":"System Time","tab":"337d2a55.f14e56","order":2,"disp":false,"width":"6","collapse":false},{"id":"a8857356.d49e68","type":"csv","z":"c8c78f4d.679e8","name":"","sep":",","hdrin":false,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":210,"y":80,"wires":[["d12b5d18.58218"]]},{"id":"3b501c89.fa554c","type":"split","z":"c8c78f4d.679e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":550,"y":80,"wires":[["6dad6ed9.c91f08"]]},{"id":"6dad6ed9.c91f08","type":"function","z":"c8c78f4d.679e8","name":"","func":"if (!context.results) context.results = {}\n\nif (!context.results[msg.topic]) context.results[msg.topic] = []\ncontext.results[msg.topic].push(msg.payload)\nmsg.payload = context.results\n\nif ((msg.originalParts.index === msg.originalParts.count - 1) && (msg.parts.index === msg.parts.count - 1)) {\n    msg.payload = context.results\n    context.results = {}\n    return msg\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":80,"wires":[["d71e0bef.46647"]]},{"id":"d12b5d18.58218","type":"change","z":"c8c78f4d.679e8","name":"","rules":[{"t":"set","p":"originalParts","pt":"msg","to":"parts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":80,"wires":[["3b501c89.fa554c"]]},{"id":"d71e0bef.46647","type":"change","z":"c8c78f4d.679e8","name":"spread","rules":[{"t":"set","p":"payload","pt":"msg","to":"$spread(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":80,"wires":[[]]},{"id":"c020125.106e3f","type":"http request","z":"3dddaeea.f4e652","name":"Power Req","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":100,"wires":[["f6d86270.8e86b"]]},{"id":"c0cc8db.196a17","type":"inject","z":"3dddaeea.f4e652","name":"Update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["90426d21.09074"]]},{"id":"90426d21.09074","type":"function","z":"3dddaeea.f4e652","name":"Power Data","func":"msg.data = global.get(\"IP\");\nmsg.url = \"http://\"+msg.data+\"/gwa?topic=GWA/gw2E2C3AE83E0000/1/a\";\nmsg.topic = \"Power\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":100,"wires":[["c020125.106e3f"]]},{"id":"5ed8c785.cd8028","type":"debug","z":"3dddaeea.f4e652","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":100,"wires":[]},{"id":"f6d86270.8e86b","type":"json","z":"3dddaeea.f4e652","name":"","property":"payload","action":"","pretty":false,"x":750,"y":100,"wires":[["cb3a3bab.ba70f8"]]},{"id":"9e4ecc6c.fe2c7","type":"function","z":"3dddaeea.f4e652","name":"Analogue Data","func":"msg.data = global.get(\"IP\");\nmsg.url = \"http://\"+msg.data+\"/gwa?topic=GWA/gw2E2C3AE83E0000/1/A\";\nmsg.topic = \"Analog\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":140,"wires":[["2ad9007c.32f71"]]},{"id":"9b44cde8.096a5","type":"function","z":"3dddaeea.f4e652","name":"Status Data","func":"msg.data = global.get(\"IP\");\nmsg.url = \"http://\"+msg.data+\"/gwa?topic=GWA/gw2E2C3AE83E0000/1/STS\";\nmsg.topic = \"Status\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":180,"wires":[["c22edc47.d8fff"]]},{"id":"4bc67a9e.4d2ce4","type":"function","z":"3dddaeea.f4e652","name":"Settings Data","func":"msg.data = global.get(\"IP\");\nmsg.url = \"http://\"+msg.data+\"/gwa?topic=GWA/gw2E2C3AE83E0000/1/SET\";\nmsg.topic = \"Settings\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["57da917f.02978"]]},{"id":"c8c97430.ce8cb8","type":"function","z":"3dddaeea.f4e652","name":"System Time","func":"msg.data = global.get(\"IP\");\nmsg.url = \"http://\"+msg.data+\"/gwa?topic=GWA/gw2E2C3AE83E0000/S/Time/G\";\nmsg.topic = \"Time\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":340,"wires":[["9d400e11.cad37"]]},{"id":"9277515.474c9b","type":"function","z":"3dddaeea.f4e652","name":"Timer Status","func":"msg.data = global.get(\"IP\");\nmsg.url = \"http://\"+msg.data+\"/gwa?topic=GWA/gw2E2C3AE83E0000/1/Time/C\";\nmsg.topic = \"Timers\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":380,"wires":[["eda04a4e.87c048"]]},{"id":"c5492a09.894e88","type":"function","z":"3dddaeea.f4e652","name":"Timer 1 Status","func":"msg.data = global.get(\"IP\");\nmsg.url = \"http://\"+msg.data+\"/gwa?topic=GWA/gw2E2C3AE83E0000/1/Time/1\";\nmsg.topic = \"Timer1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":420,"wires":[["9154c9c3.d816d8"]]},{"id":"614b2b5a.e8d954","type":"function","z":"3dddaeea.f4e652","name":"Timer 2 Status","func":"msg.data = global.get(\"IP\");\nmsg.url = \"http://\"+msg.data+\"/gwa?topic=GWA/gw2E2C3AE83E0000/1/Time/2\";\nmsg.topic = \"Timer2\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":460,"wires":[["a597d5b3.2138e8"]]},{"id":"3797fd27.f3c4d2","type":"function","z":"3dddaeea.f4e652","name":"Timer 3 Status","func":"msg.data = global.get(\"IP\");\nmsg.url = \"http://\"+msg.data+\"/gwa?topic=GWA/gw2E2C3AE83E0000/1/Time/3\";\nmsg.topic = \"Timer3\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":500,"wires":[["81182f6c.353a7"]]},{"id":"c2b53929.10d328","type":"function","z":"3dddaeea.f4e652","name":"Timer 4 Status","func":"msg.data = global.get(\"IP\");\nmsg.url = \"http://\"+msg.data+\"/gwa?topic=GWA/gw2E2C3AE83E0000/1/Time/4\";\nmsg.topic = \"Timer4\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":540,"wires":[["cc9803d0.633ed"]]},{"id":"dc4dd853.028018","type":"function","z":"3dddaeea.f4e652","name":"Holiday Status","func":"msg.data = global.get(\"IP\");\nmsg.url = \"http://\"+msg.data+\"/gwa?topic=GWA/gw2E2C3AE83E0000/1/H\";\nmsg.topic = \"Holiday\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":580,"wires":[["5d829a20.a79e34"]]},{"id":"cb3a3bab.ba70f8","type":"function","z":"3dddaeea.f4e652","name":"Save Data","func":"var data = global.get(\"GeyserData\") || {};\n\nif(msg.topic == \"Power\"){ data.Power = msg.payload;}\nif(msg.topic == \"Analog\"){ data.Analog = msg.payload;}\nif(msg.topic == \"Status\"){ data.Status = msg.payload;}\nif(msg.topic == \"Settings\"){ data.Settings = msg.payload;}\nif(msg.topic == \"Time\"){ data.Time = msg.payload;}\nif(msg.topic == \"Timers\"){ data.Timers = msg.payload;}\nif(msg.topic == \"Timer1\"){ data.Timer1 = msg.payload;}\nif(msg.topic == \"Timer2\"){ data.Timer2 = msg.payload;}\nif(msg.topic == \"Timer3\"){ data.Timer3 = msg.payload;}\nif(msg.topic == \"Timer4\"){ data.Timer4 = msg.payload;}\nif(msg.topic == \"Holiday\"){ data.Holiday = msg.payload;}\nglobal.set(\"GeyserData\", data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":100,"wires":[["5ed8c785.cd8028"]]},{"id":"2ad9007c.32f71","type":"http request","z":"3dddaeea.f4e652","name":"Analog Req","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":140,"wires":[["f6d86270.8e86b"]]},{"id":"c22edc47.d8fff","type":"http request","z":"3dddaeea.f4e652","name":"Status Req","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":180,"wires":[["f6d86270.8e86b"]]},{"id":"57da917f.02978","type":"http request","z":"3dddaeea.f4e652","name":"Settings Req","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":220,"wires":[["f6d86270.8e86b"]]},{"id":"9d400e11.cad37","type":"http request","z":"3dddaeea.f4e652","name":"Time Req","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":340,"wires":[["f6d86270.8e86b","3b11cbd4.9df1e4"]]},{"id":"eda04a4e.87c048","type":"http request","z":"3dddaeea.f4e652","name":"Timer Req","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":380,"wires":[["f6d86270.8e86b"]]},{"id":"9154c9c3.d816d8","type":"http request","z":"3dddaeea.f4e652","name":"Timer 1 Req","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":420,"wires":[["f6d86270.8e86b"]]},{"id":"a597d5b3.2138e8","type":"http request","z":"3dddaeea.f4e652","name":"Timer 2 Req","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":460,"wires":[["f6d86270.8e86b"]]},{"id":"81182f6c.353a7","type":"http request","z":"3dddaeea.f4e652","name":"Timer 3 Req","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":500,"wires":[["f6d86270.8e86b"]]},{"id":"cc9803d0.633ed","type":"http request","z":"3dddaeea.f4e652","name":"Timer 4 Req","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":540,"wires":[["f6d86270.8e86b"]]},{"id":"5d829a20.a79e34","type":"http request","z":"3dddaeea.f4e652","name":"Holiday Req","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":580,"wires":[["f6d86270.8e86b"]]},{"id":"417e23a1.88676c","type":"complete","z":"3dddaeea.f4e652","name":"Power Complete","scope":["c020125.106e3f"],"uncaught":false,"x":180,"y":140,"wires":[["9e4ecc6c.fe2c7"]]},{"id":"59a96a8b.521154","type":"complete","z":"3dddaeea.f4e652","name":"Analog Complete","scope":["2ad9007c.32f71"],"uncaught":false,"x":180,"y":180,"wires":[["9b44cde8.096a5"]]},{"id":"39b95243.a274ce","type":"complete","z":"3dddaeea.f4e652","name":"Status Complete","scope":["c22edc47.d8fff"],"uncaught":false,"x":180,"y":220,"wires":[["4bc67a9e.4d2ce4"]]},{"id":"a4c7249f.9680a8","type":"complete","z":"3dddaeea.f4e652","name":"Timer Complete","scope":["eda04a4e.87c048"],"uncaught":false,"x":180,"y":420,"wires":[["c5492a09.894e88"]]},{"id":"a5b273c.8ce899","type":"complete","z":"3dddaeea.f4e652","name":"Timer1 Complete","scope":["9154c9c3.d816d8"],"uncaught":false,"x":180,"y":460,"wires":[["614b2b5a.e8d954"]]},{"id":"ae9e8800.571b48","type":"complete","z":"3dddaeea.f4e652","name":"Timer2 Complete","scope":["a597d5b3.2138e8"],"uncaught":false,"x":180,"y":500,"wires":[["3797fd27.f3c4d2"]]},{"id":"40da4dc8.fe8724","type":"complete","z":"3dddaeea.f4e652","name":"Timer3 Complete","scope":["81182f6c.353a7"],"uncaught":false,"x":180,"y":540,"wires":[["c2b53929.10d328"]]},{"id":"2c3be985.d27b06","type":"complete","z":"3dddaeea.f4e652","name":"Timer4 Complete","scope":["cc9803d0.633ed"],"uncaught":false,"x":180,"y":580,"wires":[["dc4dd853.028018"]]},{"id":"acd27697.bbe018","type":"function","z":"ebe4365e.c94b18","name":"Gauge","func":"var payload = msg.data;\nvar temperature;    // 0-100\nvar setpoint;       // 0-100\nvar gwState;        // \"heating\", \"cooling\"\nvar leaf;\nvar away = flow.get(\"enabled1\") || 0;\nvar _output = {};\n\n\nif(payload.Settings.O.PVM===1){gwState = \"cooling\";}\nif(payload.Settings.O.ACM===1){gwState = \"heating\";}\nif(payload.Settings.O.PVM===0 && payload.Settings.O.ACM===0){gwState = \"off\";}\n\ntemperature = parseInt(payload.Analog.T.G);\nglobal.set(\"GW_Temperature\", temperature);\nif (gwState == \"heating\")\n{\n    setpoint = parseInt(payload.Settings.S.ACT);\n}\nelse if(gwState == \"cooling\")\n{\n    setpoint = parseInt(payload.Settings.S.PVT);\n}\n\nleaf = 0;\n//away = 0;   // holiday mode\n\nvar output\t= [];\n\n    _output = {\n        \"payload\": {\n\t\t\t\t    \"temperature\":setpoint,\n\t\t\t\t    \"setpoint\":temperature,\n\t\t\t\t    \"state\":gwState,\n\t\t\t\t    \"leaf\":leaf,\n\t\t\t\t    \"away\":away\n        }\n    };\n\noutput = [\n\t\t\t_output\n\t\t];\n\nreturn output;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":320,"wires":[[]]},{"id":"1fd0e69c.ec9b69","type":"function","z":"ebe4365e.c94b18","name":"Heading","func":"msg.payload=1\nmsg.text = \"GeyserWorx 1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":40,"wires":[[]]},{"id":"12b01944.52f177","type":"function","z":"ebe4365e.c94b18","name":"G1ACkW","func":"var kWh = msg.data.Power.I.AC/1000;\nmsg.text = \"AC: <b>\"+kWh.toFixed(0)+\"</b> kWh\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":360,"wires":[[]]},{"id":"28f0c64b.f78d7a","type":"function","z":"ebe4365e.c94b18","name":"","func":"msg.unit = 1;\nmsg.data = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":40,"wires":[["1fd0e69c.ec9b69","acd27697.bbe018","12b01944.52f177","fbe53d83.501a","fe97ea5b.065858","1c8ff834.ddcad8","85f91d5.8785ce","78cd83e0.e4efcc","7f58b412.8b026c","29d6985d.5d8258","d87d151e.0da718","136a01c6.707ebe","a0bd42d7.b3a9c","2b040132.7b33be","a6b2625a.70167","807ff01c.132b1","bb87cf3a.d914a","10f4fc57.08c844","58bab2d0.f4cfdc","6aeddd83.d288c4","5a71b241.76eb4c"]]},{"id":"fbe53d83.501a","type":"function","z":"ebe4365e.c94b18","name":"G1PVkW","func":"var kWh = msg.data.Power.I.PV/1000;\nmsg.text = \"PV: <b>\"+kWh.toFixed(0)+\"</b> kWh\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":400,"wires":[[]]},{"id":"fe97ea5b.065858","type":"function","z":"ebe4365e.c94b18","name":"G1ACCost","func":"var payload = msg.data.Power.I.AC/100;\nvar cost = msg.cost * payload;\nmsg.text = \"AC cost: <b>R \"+cost.toFixed(2)+\"</b>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":440,"wires":[[]]},{"id":"1c8ff834.ddcad8","type":"function","z":"ebe4365e.c94b18","name":"G1PVCost","func":"var payload = msg.data.Power.I.PV/1000;\nvar cost = msg.cost * payload;\nmsg.text = \"PV cost: <b>R \"+cost.toFixed(2)+\"</b>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":480,"wires":[[]]},{"id":"85f91d5.8785ce","type":"function","z":"ebe4365e.c94b18","name":"G1PVUsage","func":"var PV = (msg.data.Power.I.PV/(msg.data.Power.I.PV+msg.data.Power.I.AC))*100;\nmsg.text = \"PV usage: <b>\"+PV.toFixed(0)+\" </b>%\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":520,"wires":[[]]},{"id":"78cd83e0.e4efcc","type":"function","z":"ebe4365e.c94b18","name":"G1Carbon","func":"var payload = (parseFloat(msg.data.Power.I.PV)*0.7)/1000;\nmsg.text = \"CO2: <b>\"+payload.toFixed(2)+\"</b> tCO2e\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":560,"wires":[[]]},{"id":"7f58b412.8b026c","type":"function","z":"ebe4365e.c94b18","name":"Alarms","func":"var payload = msg.data;\nvar alarms;\n\nif(msg.data.Status.A.Tr_Th==1 || msg.data.Status.A.Tr_Te==1 || msg.data.Status.A.Tr_DR==1 || msg.data.Status.A.Tr_CS==1 || msg.data.Status.A.Tr_PCB==1 || msg.data.Status.A.A_Sc==1 || msg.data.Status.A.A_An==1 || msg.data.Status.A.A_DT==1)\n{\n    if(msg.data.Status.A.Tr_Th==1){alarms=\"Over Temperature\"}\n    if(msg.data.Status.A.Tr_Te==1){alarms=\"Low Temperature\"}\n    if(msg.data.Status.A.Tr_DR==1){alarms=\"Dry Burn Alarm\"}\n    if(msg.data.Status.A.Tr_CS==1){alarms=\"Contactor Fault\"}\n    if(msg.data.Status.A.Tr_PCB==1){alarms=\"PCB Temperature Hi\"}\n    if(msg.data.Status.A.A_Sc==1){alarms=\"Scale Build-up\"}\n    if(msg.data.Status.A.A_An==1){alarms=\"Anode Depletion Alarm\"}\n    if(msg.data.Status.A.A_DT==1){alarms=\"Driptray Water Alarm\"}\n}\nelse\n{\n    alarms = \"None\";\n}\n\nmsg.text = \"Alarms: <b>\"+alarms+\"</b>\";\nif(alarms != \"None\")\n{\n    msg.payload = \"1\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":600,"wires":[[]]},{"id":"29d6985d.5d8258","type":"function","z":"ebe4365e.c94b18","name":"AC On","func":"var payload = msg.data;\nif(payload.Settings.O.ACM===0)\n{\n    msg.topic = \"AC:Off\"\n    msg.text = msg.topic;\n}\nelse\n{\n    msg.topic = \"AC:On\"\n    msg.text = msg.topic;\n}\nmsg.payload = payload.Settings.O.ACM;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":80,"wires":[[]]},{"id":"d87d151e.0da718","type":"function","z":"ebe4365e.c94b18","name":"PV On","func":"var payload = msg.data;\nif(payload.Settings.O.PVM===0)\n{\n    msg.topic = \"PV:Off\"\n    msg.text = msg.topic;\n}\nelse\n{\n    msg.topic = \"PV:On\"\n    msg.text = msg.topic;\n}\nmsg.payload = payload.Settings.O.PVM;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":120,"wires":[[]]},{"id":"136a01c6.707ebe","type":"function","z":"ebe4365e.c94b18","name":"Boost On","func":"var payload = msg.data;\nif(payload.Settings.O.ACO===0)\n{\n    msg.topic = \"Boost\"\n    msg.text = msg.topic;\n}\nelse\n{\n    msg.topic = \"Boost\"\n    msg.text = msg.topic;\n}\nmsg.payload = payload.Settings.O.ACO;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":160,"wires":[[]]},{"id":"a0bd42d7.b3a9c","type":"function","z":"ebe4365e.c94b18","name":"AC Setpoint","func":"var payload = msg.data;\nmsg.topic       = \"AC: \"+payload.Settings.S.ACT;\nmsg.payload     = payload.Settings.S.ACT;\nmsg.background  = payload.Settings.S.ACT == 1 ? \"DeepSkyBlue\" : \"grey\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":200,"wires":[[]]},{"id":"2b040132.7b33be","type":"function","z":"ebe4365e.c94b18","name":"Boost Setpoint","func":"var payload = msg.data;\nmsg.topic       = \"Boost: \"+payload.Settings.S.ACOT;\nmsg.payload     = payload.Settings.S.ACOT;\nmsg.background  = payload.Settings.S.ACOT == 1 ? \"DeepSkyBlue\" : \"grey\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":240,"wires":[[]]},{"id":"a6b2625a.70167","type":"function","z":"ebe4365e.c94b18","name":"PV Setpoint","func":"var payload = msg.data;\nmsg.topic       = \"PV: \"+payload.Settings.S.PVT;\nmsg.payload     = payload.Settings.S.PVT;\nmsg.background  = payload.Settings.S.PVT == 1 ? \"DeepSkyBlue\" : \"grey\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":280,"wires":[[]]},{"id":"807ff01c.132b1","type":"function","z":"ebe4365e.c94b18","name":"AC Current","func":"var I = msg.data.Analog.I.AC;\n\nmsg.text = \"AC: <b>\"+I.toFixed(2)+\"</b> A\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":640,"wires":[[]]},{"id":"bb87cf3a.d914a","type":"function","z":"ebe4365e.c94b18","name":"PV Current","func":"var I = msg.data.Analog.I.PV;\nmsg.text = \"PV: <b>\"+I.toFixed(2)+\"</b> A\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":680,"wires":[[]]},{"id":"10f4fc57.08c844","type":"function","z":"ebe4365e.c94b18","name":"PCB Temperature","func":"var I = msg.data.Analog.T.PCB;\nmsg.text = \"PCB: <b>\"+I.toFixed(0)+\"</b>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":720,"wires":[[]]},{"id":"6aeddd83.d288c4","type":"function","z":"ebe4365e.c94b18","name":"PV Enable","func":"msg.payload = msg.data.Settings.O.PVM;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":840,"wires":[[]]},{"id":"5a71b241.76eb4c","type":"function","z":"ebe4365e.c94b18","name":"AC Boost","func":"msg.payload = msg.data.Settings.O.ACO;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":800,"wires":[[]]},{"id":"58bab2d0.f4cfdc","type":"function","z":"ebe4365e.c94b18","name":"AC Enable","func":"msg.payload = msg.data.Settings.O.ACM;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":760,"wires":[[]]},{"id":"5c6484be.02a62c","type":"ui_template","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","name":"Dial","order":12,"width":"4","height":"4","format":"<div id=\"thermostat\"></div>\n\n<style>\n@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);\n#thermostat {\n  margin: 0 auto;\n  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);\n}\n.dial {\n  -webkit-user-select: none;\n     -moz-user-select: none;\n      -ms-user-select: none;\n          user-select: none;\n}\n.dial.away .dial__ico__leaf {\n  visibility: hidden;\n}\n.dial.away .dial__lbl--target {\n  visibility: hidden;\n}\n.dial.away .dial__lbl--target--half {\n  visibility: hidden;\n}\n.dial.away .dial__lbl--away {\n  opacity: 1;\n}\n.dial .dial__shape {\n  -webkit-transition: fill 0.5s;\n  transition: fill 0.5s;\n}\n.dial__ico__leaf {\n  fill: #13EB13;\n  opacity: 0;\n  -webkit-transition: opacity 0.5s;\n  transition: opacity 0.5s;\n  pointer-events: none;\n}\n.dial.has-leaf .dial__ico__leaf {\n  display: block;\n  opacity: 1;\n  pointer-events: initial;\n}\n.dial__editableIndicator {\n  fill: white;\n  fill-rule: evenodd;\n  opacity: 0;\n  -webkit-transition: opacity 0.5s;\n  transition: opacity 0.5s;\n}\n.dial--edit .dial__editableIndicator {\n  opacity: 1;\n}\n.dial--state--off .dial__shape {\n  fill: #3d3c3c;\n}\n.dial--state--heating .dial__shape {\n  fill: #E36304;\n}\n.dial--state--cooling .dial__shape {\n  fill: #3c9517;\n}\n.dial__ticks path {\n  fill: rgba(255, 255, 255, 0.3);\n}\n.dial__ticks path.active {\n  fill: rgba(255, 255, 255, 0.8);\n}\n.dial text {\n  fill: white;\n  text-anchor: middle;\n  font-family: Helvetica, sans-serif;\n  alignment-baseline: central;\n}\n.dial__lbl--target {\n  font-size: 120px;\n  font-weight: bold;\n}\n.dial__lbl--target--half {\n  font-size: 40px;\n  font-weight: bold;\n  opacity: 0;\n  -webkit-transition: opacity 0.1s;\n  transition: opacity 0.1s;\n}\n.dial__lbl--target--half.shown {\n  opacity: 1;\n  -webkit-transition: opacity 0s;\n  transition: opacity 0s;\n}\n.dial__lbl--ambient {\n  font-size: 22px;\n  font-weight: bold;\n}\n.dial__lbl--away {\n  font-size: 72px;\n  font-weight: bold;\n  opacity: 0;\n  pointer-events: none;\n}\n#controls {\n  font-family: Open Sans;\n  background-color: rgba(255, 255, 255, 0.25);\n  padding: 20px;\n  border-radius: 5px;\n  position: absolute;\n  left: 50%;\n  -webkit-transform: translatex(-50%);\n          transform: translatex(-50%);\n  margin-top: 20px;\n}\n#controls label {\n  text-align: left;\n  display: block;\n}\n#controls label span {\n  display: inline-block;\n  width: 200px;\n  text-align: right;\n  font-size: 0.8em;\n  text-transform: uppercase;\n}\n#controls p {\n  margin: 0;\n  margin-bottom: 1em;\n  padding-bottom: 1em;\n  border-bottom: 2px solid #ccc;\n}\n</style>\n<script>\n    var thermostatDial = (function() {\n\t\n\t/*\n\t * Utility functions\n\t */\n\t\n\t// Create an element with proper SVG namespace, optionally setting its attributes and appending it to another element\n\tfunction createSVGElement(tag,attributes,appendTo) {\n\t\tvar element = document.createElementNS('http://www.w3.org/2000/svg',tag);\n\t\tattr(element,attributes);\n\t\tif (appendTo) {\n\t\t\tappendTo.appendChild(element);\n\t\t}\n\t\treturn element;\n\t}\n\t\n\t// Set attributes for an element\n\tfunction attr(element,attrs) {\n\t\tfor (var i in attrs) {\n\t\t\telement.setAttribute(i,attrs[i]);\n\t\t}\n\t}\n\t\n\t// Rotate a cartesian point about given origin by X degrees\n\tfunction rotatePoint(point, angle, origin) {\n\t\tvar radians = angle * Math.PI/180;\n\t\tvar x = point[0]-origin[0];\n\t\tvar y = point[1]-origin[1];\n\t\tvar x1 = x*Math.cos(radians) - y*Math.sin(radians) + origin[0];\n\t\tvar y1 = x*Math.sin(radians) + y*Math.cos(radians) + origin[1];\n\t\treturn [x1,y1];\n\t}\n\t\n\t// Rotate an array of cartesian points about a given origin by X degrees\n\tfunction rotatePoints(points, angle, origin) {\n\t\treturn points.map(function(point) {\n\t\t\treturn rotatePoint(point, angle, origin);\n\t\t});\n\t}\n\t\n\t// Given an array of points, return an SVG path string representing the shape they define\n\tfunction pointsToPath(points) {\n\t\treturn points.map(function(point, iPoint) {\n\t\t\treturn (iPoint>0?'L':'M') + point[0] + ' ' + point[1];\n\t\t}).join(' ')+'Z';\n\t}\n\t\n\tfunction circleToPath(cx, cy, r) {\n\t\treturn [\n\t\t\t\"M\",cx,\",\",cy,\n\t\t\t\"m\",0-r,\",\",0,\n\t\t\t\"a\",r,\",\",r,0,1,\",\",0,r*2,\",\",0,\n\t\t\t\"a\",r,\",\",r,0,1,\",\",0,0-r*2,\",\",0,\n\t\t\t\"z\"\n\t\t].join(' ').replace(/\\s,\\s/g,\",\");\n\t}\n\t\n\tfunction donutPath(cx,cy,rOuter,rInner) {\n\t\treturn circleToPath(cx,cy,rOuter) + \" \" + circleToPath(cx,cy,rInner);\n\t}\n\t\n\t// Restrict a number to a min + max range\n\tfunction restrictToRange(val,min,max) {\n\t\tif (val < min) return min;\n\t\tif (val > max) return max;\n\t\treturn val;\n\t}\n\t\n\t// Round a number to the nearest 0.5\n\tfunction roundHalf(num) {\n\t\treturn Math.round(num*2)/2;\n\t}\n\t\n\tfunction setClass(el, className, state) {\n\t\tel.classList[state ? 'add' : 'remove'](className);\n\t}\n\t\n\t/*\n\t * The \"MEAT\"\n\t */\n\n\treturn function(targetElement, options) {\n\t\tvar self = this;\n\t\t\n\t\t/*\n\t\t * Options\n\t\t */\n\t\toptions = options || {};\n\t\toptions = {\n\t\t\tdiameter: options.diameter || 400,\n\t\t\tminValue: options.minValue || 00, // Minimum value for target temperature\n\t\t\tmaxValue: options.maxValue || 85, // Maximum value for target temperature\n\t\t\tnumTicks: options.numTicks || 200, // Number of tick lines to display around the dial\n\t\t\tonSetTargetTemperature: options.onSetTargetTemperature || function() {}, // Function called when new target temperature set by the dial\n\t\t};\n\t\t\n\t\t/*\n\t\t * Properties - calculated from options in many cases\n\t\t */\n\t\tvar properties = {\n\t\t\ttickDegrees: 300, //  Degrees of the dial that should be covered in tick lines\n\t\t\trangeValue: options.maxValue - options.minValue,\n\t\t\tradius: options.diameter/2,\n\t\t\tticksOuterRadius: options.diameter / 30,\n\t\t\tticksInnerRadius: options.diameter / 8,\n\t\t\thvac_states: ['off', 'heating', 'cooling'],\n\t\t\tdragLockAxisDistance: 15,\n\t\t}\n\t\tproperties.lblAmbientPosition = [properties.radius, properties.ticksOuterRadius-(properties.ticksOuterRadius-properties.ticksInnerRadius)/2]\n\t\tproperties.offsetDegrees = 180-(360-properties.tickDegrees)/2;\n\t\t\n\t\t/*\n\t\t * Object state\n\t\t */\n\t\tvar state = {\n\t\t\ttarget_temperature: options.minValue,\n\t\t\tambient_temperature: options.minValue,\n\t\t\thvac_state: properties.hvac_states[0],\n\t\t\thas_leaf: false,\n\t\t\taway: false\n\t\t};\n\t\t\n\t\t/*\n\t\t * Property getter / setters\n\t\t */\n\t\tObject.defineProperty(this,'target_temperature',{\n\t\t\tget: function() {\n\t\t\t\treturn state.target_temperature;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.target_temperature = restrictTargetTemperature(+val);\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'ambient_temperature',{\n\t\t\tget: function() {\n\t\t\t\treturn state.ambient_temperature;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.ambient_temperature = roundHalf(+val);\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'hvac_state',{\n\t\t\tget: function() {\n\t\t\t\treturn state.hvac_state;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tif (properties.hvac_states.indexOf(val)>=0) {\n\t\t\t\t\tstate.hvac_state = val;\n\t\t\t\t\trender();\n\t\t\t\t}\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'has_leaf',{\n\t\t\tget: function() {\n\t\t\t\treturn state.has_leaf;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.has_leaf = !!val;\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'away',{\n\t\t\tget: function() {\n\t\t\t\treturn state.away;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.away = !!val;\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\t\n\t\t/*\n\t\t * SVG\n\t\t */\n\t\tvar svg = createSVGElement('svg',{\n\t\t\twidth: '100%', //options.diameter+'px',\n\t\t\theight: '100%', //options.diameter+'px',\n\t\t\tviewBox: '0 0 '+options.diameter+' '+options.diameter,\n\t\t\tclass: 'dial'\n\t\t},targetElement);\n\t\t// CIRCULAR DIAL\n\t\tvar circle = createSVGElement('circle',{\n\t\t\tcx: properties.radius,\n\t\t\tcy: properties.radius,\n\t\t\tr: properties.radius,\n\t\t\tclass: 'dial__shape'\n\t\t},svg);\n\t\t// EDITABLE INDICATOR\n\t\tvar editCircle = createSVGElement('path',{\n\t\t\td: donutPath(properties.radius,properties.radius,properties.radius-4,properties.radius-8),\n\t\t\tclass: 'dial__editableIndicator',\n\t\t},svg);\n\t\t\n\t\t/*\n\t\t * Ticks\n\t\t */\n\t\tvar ticks = createSVGElement('g',{\n\t\t\tclass: 'dial__ticks'\t\n\t\t},svg);\n\t\tvar tickPoints = [\n\t\t\t[properties.radius-1, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1, properties.ticksInnerRadius],\n\t\t\t[properties.radius-1, properties.ticksInnerRadius]\n\t\t];\n\t\tvar tickPointsLarge = [\n\t\t\t[properties.radius-1.5, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1.5, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1.5, properties.ticksInnerRadius+20],\n\t\t\t[properties.radius-1.5, properties.ticksInnerRadius+20]\n\t\t];\n\t\tvar theta = properties.tickDegrees/options.numTicks;\n\t\tvar tickArray = [];\n\t\tfor (var iTick=0; iTick<options.numTicks; iTick++) {\n\t\t\ttickArray.push(createSVGElement('path',{d:pointsToPath(tickPoints)},ticks));\n\t\t};\n\t\t\n\t\t/*\n\t\t * Labels\n\t\t */\n\t\tvar lblTarget = createSVGElement('text',{\n\t\t\tx: properties.radius,\n\t\t\ty: properties.radius,\n\t\t\tclass: 'dial__lbl dial__lbl--target'\n\t\t},svg);\n\t\tvar lblTarget_text = document.createTextNode('');\n\t\tlblTarget.appendChild(lblTarget_text);\n\t\t//\n\t\tvar lblTargetHalf = createSVGElement('text',{\n\t\t\tx: properties.radius + properties.radius/2.5,\n\t\t\ty: properties.radius - properties.radius/8,\n\t\t\tclass: 'dial__lbl dial__lbl--target--half'\n\t\t},svg);\n\t\tvar lblTargetHalf_text = document.createTextNode('5');\n\t\tlblTargetHalf.appendChild(lblTargetHalf_text);\n\t\t//\n\t\tvar lblAmbient = createSVGElement('text',{\n\t\t\tclass: 'dial__lbl dial__lbl--ambient'\n\t\t},svg);\n\t\tvar lblAmbient_text = document.createTextNode('');\n\t\tlblAmbient.appendChild(lblAmbient_text);\n\t\t//\n\t\tvar lblAway = createSVGElement('text',{\n\t\t\tx: properties.radius,\n\t\t\ty: properties.radius,\n\t\t\tclass: 'dial__lbl dial__lbl--away'\n\t\t},svg);\n\t\tvar lblAway_text = document.createTextNode('AWAY');\n\t\tlblAway.appendChild(lblAway_text);\n\t\t//\n\t\tvar icoLeaf = createSVGElement('path',{\n\t\t\tclass: 'dial__ico__leaf'\n\t\t},svg);\n\t\t\n\t\t/*\n\t\t * LEAF\n\t\t */\n\t\tvar leafScale = properties.radius/5/100;\n\t\tvar leafDef = [\"M\", 3, 84, \"c\", 24, 17, 51, 18, 73, -6, \"C\", 100, 52, 100, 22, 100, 4, \"c\", -13, 15, -37, 9, -70, 19, \"C\", 4, 32, 0, 63, 0, 76, \"c\", 6, -7, 18, -17, 33, -23, 24, -9, 34, -9, 48, -20, -9, 10, -20, 16, -43, 24, \"C\", 22, 63, 8, 78, 3, 84, \"z\"].map(function(x) {\n\t\t\treturn isNaN(x) ? x : x*leafScale;\n\t\t}).join(' ');\n\t\tvar translate = [properties.radius-(leafScale*100*0.5),properties.radius*1.5]\n\t\tvar icoLeaf = createSVGElement('path',{\n\t\t\tclass: 'dial__ico__leaf',\n\t\t\td: leafDef,\n\t\t\ttransform: 'translate('+translate[0]+','+translate[1]+')'\n\t\t},svg);\n\t\t\t\n\t\t/*\n\t\t * RENDER\n\t\t */\n\t\tfunction render() {\n\t\t\trenderAway();\n\t\t\trenderHvacState();\n\t\t\trenderTicks();\n\t\t\trenderTargetTemperature();\n\t\t\trenderAmbientTemperature();\n\t\t\trenderLeaf();\n\t\t}\n\t\trender();\n\n\t\t/*\n\t\t * RENDER - ticks\n\t\t */\n\t\tfunction renderTicks() {\n\t\t\tvar vMin, vMax;\n\t\t\tif (self.away) {\n\t\t\t\tvMin = self.ambient_temperature;\n\t\t\t\tvMax = vMin;\n\t\t\t} else {\n\t\t\t\tvMin = Math.min(self.ambient_temperature, self.target_temperature);\n\t\t\t\tvMax = Math.max(self.ambient_temperature, self.target_temperature);\n\t\t\t}\n\t\t\tvar min = restrictToRange(Math.round((vMin-options.minValue)/properties.rangeValue * options.numTicks),0,options.numTicks-1);\n\t\t\tvar max = restrictToRange(Math.round((vMax-options.minValue)/properties.rangeValue * options.numTicks),0,options.numTicks-1);\n\t\t\t//\n\t\t\ttickArray.forEach(function(tick,iTick) {\n\t\t\t\tvar isLarge = iTick==min || iTick==max;\n\t\t\t\tvar isActive = iTick >= min && iTick <= max;\n\t\t\t\tattr(tick,{\n\t\t\t\t\td: pointsToPath(rotatePoints(isLarge ? tickPointsLarge: tickPoints,iTick*theta-properties.offsetDegrees,[properties.radius, properties.radius])),\n\t\t\t\t\tclass: isActive ? 'active' : ''\n\t\t\t\t});\n\t\t\t});\n\t\t}\n\t\n\t\t/*\n\t\t * RENDER - ambient temperature\n\t\t */\n\t\tfunction renderAmbientTemperature() {\n\t\t\tlblAmbient_text.nodeValue = Math.floor(self.ambient_temperature);\n\t\t\tif (self.ambient_temperature%1!=0) {\n\t\t\t\tlblAmbient_text.nodeValue += 'âµ';\n\t\t\t}\n\t\t\tvar peggedValue = restrictToRange(self.ambient_temperature, options.minValue, options.maxValue);\n\t\t\tdegs = properties.tickDegrees * (peggedValue-options.minValue)/properties.rangeValue - properties.offsetDegrees;\n\t\t\tif (peggedValue > self.target_temperature) {\n\t\t\t\tdegs += 8;\n\t\t\t} else {\n\t\t\t\tdegs -= 8;\n\t\t\t}\n\t\t\tvar pos = rotatePoint(properties.lblAmbientPosition,degs,[properties.radius, properties.radius]);\n\t\t\tattr(lblAmbient,{\n\t\t\t\tx: pos[0],\n\t\t\t\ty: pos[1]\n\t\t\t});\n\t\t}\n\n\t\t/*\n\t\t * RENDER - target temperature\n\t\t */\n\t\tfunction renderTargetTemperature() {\n\t\t\tlblTarget_text.nodeValue = Math.floor(self.target_temperature);\n\t\t\tsetClass(lblTargetHalf,'shown',self.target_temperature%1!=0);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - leaf\n\t\t */\n\t\tfunction renderLeaf() {\n\t\t\tsetClass(svg,'has-leaf',self.has_leaf);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - HVAC state\n\t\t */\n\t\tfunction renderHvacState() {\n\t\t\tArray.prototype.slice.call(svg.classList).forEach(function(c) {\n\t\t\t\tif (c.match(/^dial--state--/)) {\n\t\t\t\t\tsvg.classList.remove(c);\n\t\t\t\t};\n\t\t\t});\n\t\t\tsvg.classList.add('dial--state--'+self.hvac_state);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - away\n\t\t */\n\t\tfunction renderAway() {\n\t\t\tsvg.classList[self.away ? 'add' : 'remove']('away');\n\t\t}\n\t\t\n\t\t/*\n\t\t * Drag to control\n\t\t */\n\t\tvar _drag = {\n\t\t\tinProgress: false,\n\t\t\tstartPoint: null,\n\t\t\tstartTemperature: 0,\n\t\t\tlockAxis: undefined\n\t\t};\n\t\t\n\t\tfunction eventPosition(ev) {\n\t\t\tif (ev.targetTouches && ev.targetTouches.length) {\n\t\t\t\treturn  [ev.targetTouches[0].clientX, ev.targetTouches[0].clientY];\n\t\t\t} else {\n\t\t\t\treturn [ev.x, ev.y];\n\t\t\t};\n\t\t}\n\t\t\n\t\tvar startDelay;\n\t\tfunction dragStart(ev) {\n\t\t\tstartDelay = setTimeout(function() {\n\t\t\t\tsetClass(svg, 'dial--edit', true);\n\t\t\t\t_drag.inProgress = true;\n\t\t\t\t_drag.startPoint = eventPosition(ev);\n\t\t\t\t_drag.startTemperature = self.ambient_temperature || options.minValue;\n\t\t\t\t_drag.lockAxis = undefined;\n\t\t\t},1000);\n\t\t};\n\t\t\n\t\tfunction dragEnd (ev) {\n\t\t\tclearTimeout(startDelay);\n\t\t\tsetClass(svg, 'dial--edit', false);\n\t\t\tif (!_drag.inProgress) return;\n\t\t\t_drag.inProgress = false;\n\t\t\tif (self.ambient_temperature != _drag.startTemperature) {\n\t\t\t\tif (typeof options.onSetTargetTemperature == 'function') {\n\t\t\t\t\toptions.onSetTargetTemperature(self.ambient_temperature);\n\t\t\t\t};\n\t\t\t};\n\t\t};\n\t\t\n\t\tfunction dragMove(ev) {\n\t\t\tev.preventDefault();\n\t\t\tif (!_drag.inProgress) return;\n\t\t\tvar evPos =  eventPosition(ev);\n\t\t\tvar dy = _drag.startPoint[1]-evPos[1];\n\t\t\tvar dx = evPos[0] - _drag.startPoint[0];\n\t\t\tvar dxy;\n\t\t\tif (_drag.lockAxis == 'x') {\n\t\t\t\tdxy  = dx;\n\t\t\t} else if (_drag.lockAxis == 'y') {\n\t\t\t\tdxy = dy;\n\t\t\t} else if (Math.abs(dy) > properties.dragLockAxisDistance) {\n\t\t\t\t_drag.lockAxis = 'y';\n\t\t\t\tdxy = dy;\n\t\t\t} else if (Math.abs(dx) > properties.dragLockAxisDistance) {\n\t\t\t\t_drag.lockAxis = 'x';\n\t\t\t\tdxy = dx;\n\t\t\t} else {\n\t\t\t\tdxy = (Math.abs(dy) > Math.abs(dx)) ? dy : dx;\n\t\t\t};\n\t\t\tvar dValue = (dxy*getSizeRatio())/(options.diameter)*properties.rangeValue;\n\t\t\tself.ambient_temperature = roundHalf(_drag.startTemperature+dValue);\n\t\t}\n\t\t\n\t\tsvg.addEventListener('mousedown',dragStart);\n\t\tsvg.addEventListener('touchstart',dragStart);\n\t\t\n\t\tsvg.addEventListener('mouseup',dragEnd);\n\t\tsvg.addEventListener('mouseleave',dragEnd);\n\t\tsvg.addEventListener('touchend',dragEnd);\n\t\t\n\t\tsvg.addEventListener('mousemove',dragMove);\n\t\tsvg.addEventListener('touchmove',dragMove);\n\t\t//\n\t\t\n\t\t/*\n\t\t * Helper functions\n\t\t */\n\t\tfunction restrictTargetTemperature(t) {\n\t\t\treturn restrictToRange(roundHalf(t),options.minValue,options.maxValue);\n\t\t}\n\t\t\n\t\tfunction angle(point) {\n\t\t\tvar dx = point[0] - properties.radius;\n\t\t\tvar dy = point[1] - properties.radius;\n\t\t\tvar theta = Math.atan(dx/dy) / (Math.PI/180);\n\t\t\tif (point[0]>=properties.radius && point[1] < properties.radius) {\n\t\t\t\ttheta = 90-theta - 90;\n\t\t\t} else if (point[0]>=properties.radius && point[1] >= properties.radius) {\n\t\t\t\ttheta = 90-theta + 90;\n\t\t\t} else if (point[0]<properties.radius && point[1] >= properties.radius) {\n\t\t\t\ttheta = 90-theta + 90;\n\t\t\t} else if (point[0]<properties.radius && point[1] < properties.radius) {\n\t\t\t\ttheta = 90-theta+270;\n\t\t\t}\n\t\t\treturn theta;\n\t\t};\n\t\t\n\t\tfunction getSizeRatio() {\n\t\t\treturn options.diameter / targetElement.clientWidth;\n\t\t}\n\t\t\n\t};\n})();\n\n/* ==== */\n(function(scope) {\n    \n    var nest = new thermostatDial(document.getElementById('thermostat'),{\n    \tonSetTargetTemperature: function(v) {\n    \t\tscope.send({topic: \"target_temperature\", payload: v});\n    \t}\n    });\n\n\n    scope.$watch('msg', function(data) {\n        //console.log(data.topic+\"  \"+data.payload);\n            nest.ambient_temperature = data.payload.temperature;\n            nest.target_temperature = data.payload.setpoint;\n            nest.hvac_state = data.payload.state;\n            nest.has_leaf = data.payload.leaf;\n            nest.away = data.payload.away;\n    });\n})(scope);\n\n</script>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":530,"y":180,"wires":[[]]},{"id":"ed03a1d3.ce27e","type":"ui_text","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","order":11,"width":"1","height":"2","name":"Blank","label":"","format":"","layout":"row-spread","x":750,"y":60,"wires":[]},{"id":"d07520c2.54452","type":"ui_template","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","name":"Title","order":1,"width":"6","height":"1","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: #273746;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                font-weight: bold;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #EAECEE;\"\n            ng-style=\"{background: #EAECEE}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":40,"wires":[[]]},{"id":"56da94d8.013bfc","type":"ui_template","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","name":"ACkWh","order":13,"width":"3","height":"1","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: black;\n                padding: 5px 5px;\n                text-align: left;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #FFE082;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : '#FFE082'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":540,"y":200,"wires":[[]]},{"id":"b0a3266c.68ff48","type":"ui_template","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","name":"PVkWh","order":14,"width":"3","height":"1","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: black;\n                padding: 5px 5px;\n                text-align: left;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #C5E1A5;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : '#C5E1A5'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":540,"y":220,"wires":[[]]},{"id":"1d1715f7.c0919a","type":"ui_template","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","name":"ACcost","order":15,"width":"3","height":"1","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: black;\n                padding: 5px 5px;\n                text-align: left;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #FFE082;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : '#FFE082'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":540,"y":240,"wires":[[]]},{"id":"14539374.bb98cd","type":"ui_template","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","name":"PVsave","order":16,"width":"3","height":"1","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: black;\n                padding: 5px 5px;\n                text-align: left;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #C5E1A5;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : '#C5E1A5'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":540,"y":260,"wires":[[]]},{"id":"5339dab5.a77744","type":"ui_template","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","name":"PV%","order":17,"width":"3","height":"1","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: black;\n                padding: 5px 5px;\n                text-align: left;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #EEEEEE;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : '#EEEEEE'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":280,"wires":[[]]},{"id":"57e12621.beb758","type":"ui_template","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","name":"CO2","order":18,"width":"3","height":"1","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: black;\n                padding: 5px 5px;\n                text-align: left;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #EEEEEE;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : '#EEEEEE'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":300,"wires":[[]]},{"id":"f52c35e3.f469d8","type":"ui_template","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","name":"Alarms","order":19,"width":"6","height":"1","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: black;\n                padding: 5px 5px;\n                text-align: left;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #EEEEEE;\"\n            ng-style=\"{background: msg.payload == '1' ? '#E65100' : '#EEEEEE'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":540,"y":320,"wires":[[]]},{"id":"36fda529.2ad1ba","type":"comment","z":"94e0adf3.31d6b","name":"Dashboard 1","info":"","x":310,"y":60,"wires":[]},{"id":"80bfe287.5b677","type":"inject","z":"94e0adf3.31d6b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.3","topic":"","payload":"","payloadType":"date","x":100,"y":300,"wires":[["f87806a3.730a88"]]},{"id":"36dabf01.fa6c9","type":"ui_text_input","z":"94e0adf3.31d6b","name":"","label":"AC Setpoint","tooltip":"","group":"b0690eac.2cf5f","order":5,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","x":550,"y":120,"wires":[["2681ca3.62c4f36"]]},{"id":"2574f69.623c50a","type":"ui_text_input","z":"94e0adf3.31d6b","name":"","label":"Boost Setpoint","tooltip":"","group":"b0690eac.2cf5f","order":7,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","x":560,"y":140,"wires":[["7ecc56c9.3b0418"]]},{"id":"c3ba272.60550d8","type":"ui_text_input","z":"94e0adf3.31d6b","name":"","label":"PV Setpoint","tooltip":"","group":"b0690eac.2cf5f","order":6,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","x":550,"y":160,"wires":[["b27d899e.017de8"]]},{"id":"764e94f0.ceaf1c","type":"ui_template","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","name":"AC I","order":20,"width":"2","height":"1","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: black;\n                padding: 5px 5px;\n                text-align: left;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #EEEEEE;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : '#EEEEEE'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":340,"wires":[[]]},{"id":"609a4636.7e00d8","type":"ui_template","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","name":"PV I","order":21,"width":"2","height":"1","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: black;\n                padding: 5px 5px;\n                text-align: left;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #EEEEEE;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : '#EEEEEE'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":360,"wires":[[]]},{"id":"f38f4fca.c39da","type":"ui_template","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","name":"PCB","order":22,"width":"2","height":"1","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: black;\n                padding: 5px 5px;\n                text-align: left;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #EEEEEE;\"\n            ng-style=\"{background: msg.payload == '1' ? '#E65100' : '#EEEEEE'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":380,"wires":[[]]},{"id":"9920e014.d21fd","type":"ui_template","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","name":"AC","order":2,"width":"2","height":"1","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":60,"wires":[[]]},{"id":"c776db5b.eb0d08","type":"ui_template","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","name":"PV","order":3,"width":"2","height":"1","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":80,"wires":[[]]},{"id":"b474bbd4.90ea48","type":"ui_template","z":"94e0adf3.31d6b","group":"b0690eac.2cf5f","name":"Boost","order":4,"width":"2","height":"1","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":100,"wires":[[]]},{"id":"1db928de.592ac7","type":"subflow:ebe4365e.c94b18","z":"94e0adf3.31d6b","name":"","env":[],"x":310,"y":240,"wires":[["d07520c2.54452"],["9920e014.d21fd"],["c776db5b.eb0d08"],["b474bbd4.90ea48"],["36dabf01.fa6c9"],["2574f69.623c50a"],["c3ba272.60550d8"],["5c6484be.02a62c"],["56da94d8.013bfc"],["b0a3266c.68ff48"],["1d1715f7.c0919a"],["14539374.bb98cd"],["5339dab5.a77744"],["57e12621.beb758"],["f52c35e3.f469d8"],["764e94f0.ceaf1c"],["609a4636.7e00d8"],["f38f4fca.c39da"],["90b5c4eb.587ac8"],["c9991542.e02d78"],["81f067b2.374508"]]},{"id":"f87806a3.730a88","type":"function","z":"94e0adf3.31d6b","name":"","func":"msg.payload = global.get(\"GeyserData\");\nmsg.cost = global.get(\"EskomRate\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":240,"wires":[["1db928de.592ac7"]]},{"id":"90b5c4eb.587ac8","type":"ui_switch","z":"94e0adf3.31d6b","name":"","label":"AC","tooltip":"","group":"b0690eac.2cf5f","order":8,"width":"2","height":"1","passthru":false,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"grey","animate":true,"x":530,"y":400,"wires":[["dbcf2f21.5acd4"]]},{"id":"c9991542.e02d78","type":"ui_switch","z":"94e0adf3.31d6b","name":"","label":"Boost","tooltip":"","group":"b0690eac.2cf5f","order":9,"width":"2","height":"1","passthru":false,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"grey","animate":true,"x":530,"y":420,"wires":[["dea92862.287de8"]]},{"id":"81f067b2.374508","type":"ui_switch","z":"94e0adf3.31d6b","name":"","label":"PV","tooltip":"","group":"b0690eac.2cf5f","order":10,"width":"2","height":"1","passthru":false,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"grey","animate":true,"x":530,"y":440,"wires":[["4ba20c9e.3c70a4"]]},{"id":"df6e7497.70f778","type":"ui_button","z":"94e0adf3.31d6b","name":"","group":"b0690eac.2cf5f","order":23,"width":"4","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":460,"wires":[["8e00c374.933db"]]},{"id":"d442b3d4.aa40d","type":"complete","z":"3dddaeea.f4e652","name":"Sequence Complete","scope":["57da917f.02978"],"uncaught":false,"x":170,"y":260,"wires":[["ea87a6d4.893d28"]]},{"id":"ea87a6d4.893d28","type":"link out","z":"3dddaeea.f4e652","name":"HTTP Req Complete","links":["affd0b22.c005e8","dba7953d.de8d18","d3263605.ab9d18"],"x":295,"y":260,"wires":[]},{"id":"dba7953d.de8d18","type":"link in","z":"94e0adf3.31d6b","name":"Dashboard Update","links":["ea87a6d4.893d28"],"x":135,"y":340,"wires":[["f87806a3.730a88"]]},{"id":"382f8c99.b221a4","type":"comment","z":"3dddaeea.f4e652","name":"gw6A68C63ADADB1D","info":"","x":720,"y":20,"wires":[]},{"id":"908a70e6.73a6a","type":"ui_button","z":"94e0adf3.31d6b","name":"Refresh","group":"b0690eac.2cf5f","order":24,"width":"2","height":"1","passthru":false,"label":"","tooltip":"Refresh Data","color":"","bgcolor":"","icon":"fa-refresh fa-2x","payload":"","payloadType":"str","topic":"topic","x":540,"y":480,"wires":[["ab2e9407.6b4978"]]},{"id":"ab2e9407.6b4978","type":"link out","z":"94e0adf3.31d6b","name":"Refresh","links":["80998976.fa4748","389492ec.81b43e"],"x":695,"y":480,"wires":[]},{"id":"80998976.fa4748","type":"link in","z":"3dddaeea.f4e652","name":"Refresh","links":["ab2e9407.6b4978","677e3861.c5a858"],"x":235,"y":80,"wires":[["90426d21.09074"]]},{"id":"90089777.ef3758","type":"ui_chart","z":"94e0adf3.31d6b","name":"","group":"8c690c19.c1fce","order":0,"width":0,"height":0,"label":"Geyser Data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"monotone","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":580,"wires":[[]]},{"id":"298e3073.14be","type":"function","z":"94e0adf3.31d6b","name":"Temperature","func":"var data = global.get(\"GeyserData\");\nvar temp = parseFloat(data.Analog.T.G);\nmsg.payload = temp.toFixed(1);\nmsg.topic = \"Geyser Temperature\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":560,"wires":[["90089777.ef3758"]]},{"id":"22683738.bb31b8","type":"function","z":"94e0adf3.31d6b","name":"PCB","func":"var data = global.get(\"GeyserData\");\nvar temp = parseFloat(data.Analog.T.PCB);\nmsg.payload = temp.toFixed(1);\nmsg.topic = \"PCB Temperature\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":580,"wires":[["90089777.ef3758"]]},{"id":"c2d4d6d0.301288","type":"inject","z":"5395d339.48846c","name":"Startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["328ace3e.a7a0a2"]]},{"id":"328ace3e.a7a0a2","type":"function","z":"5395d339.48846c","name":"Settings","func":"msg.payload = {\n    \"IP\": global.get(\"IP\"),\n    \"SN\": global.get(\"unit\"),\n    \"Size\": global.get(\"size\"),\n    \"Rate\": global.get(\"EskomRate\"),\n    \"Dual\": global.get(\"Dual\")\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":80,"wires":[["c9d048ea.e75198"]]},{"id":"4bb66b78.8460d4","type":"inject","z":"5395d339.48846c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"Power\":{\"I\":{\"AC\":0,\"PV\":0}},\"Analog\":{\"T\":{\"G\":0,\"PCB\":0},\"I\":{\"AC\":0,\"PV\":0},\"V\":{\"AC\":0,\"PV\":0}},\"Status\":{\"A\":{\"Tr_Te\":0,\"Tr_DR\":0,\"Tr_CS\":0,\"Tr_PCB\":0,\"A_Sc\":0,\"A_An\":0,\"A_DT\":0},\"O\":{\"AC\":0,\"PV\":0},\"T\":0,\"H\":0},\"Settings\":{\"O\":{\"ACM\":0,\"ACO\":0,\"PVM\":0},\"S\":{\"ACT\":0,\"ACOT\":0,\"PVT\":0,\"ACCT\":0},\"A\":{\"DRT\":0,\"SCB\":0}},\"Time\":{\"Y\":0,\"M\":0,\"D\":0,\"h\":0,\"m\":0},\"Timers\":{\"C\":0},\"Timer1\":{\"C\":0,\"S\":{\"h\":0,\"m\":0},\"E\":{\"h\":0,\"m\":0},\"W\":{\"Mo\":0,\"Tu\":0,\"We\":0,\"Th\":0,\"Fr\":0,\"Sa\":0,\"Su\":0}},\"Timer2\":{\"C\":0,\"S\":{\"h\":0,\"m\":0},\"E\":{\"h\":0,\"m\":0},\"W\":{\"Mo\":0,\"Tu\":0,\"We\":0,\"Th\":0,\"Fr\":0,\"Sa\":0,\"Su\":0}},\"Timer3\":{\"C\":0,\"S\":{\"h\":0,\"m\":0},\"E\":{\"h\":0,\"m\":0},\"W\":{\"Mo\":0,\"Tu\":0,\"We\":0,\"Th\":0,\"Fr\":0,\"Sa\":0,\"Su\":0}},\"Timer4\":{\"C\":0,\"S\":{\"h\":0,\"m\":0},\"E\":{\"h\":0,\"m\":0},\"W\":{\"Mo\":0,\"Tu\":0,\"We\":0,\"Th\":0,\"Fr\":0,\"Sa\":0,\"Su\":0}},\"Holiday\":{\"C\":0,\"S\":{\"Y\":2019,\"M\":1,\"D\":1},\"E\":{\"Y\":2019,\"M\":1,\"D\":2},\"D\":1}}","payloadType":"json","x":130,"y":180,"wires":[["f52b3b18.3a1a78"]]},{"id":"f52b3b18.3a1a78","type":"change","z":"5395d339.48846c","name":"","rules":[{"t":"set","p":"GeyserData","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[[]]},{"id":"cb1dfcde.fd153","type":"function","z":"3dddaeea.f4e652","name":"set payload and headers","func":"msg.url = \"http://192.168.2.120/gwa?topic=GWR/gw6A68C63ADADB1D/1/SET&payload={'O':{'ACM':1,'ACO':0,'PVM':1}}\";\nmsg.headers = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":760,"wires":[["e44209e7.752698","8b3ced54.f6cbb"]]},{"id":"dcf34aab.218928","type":"inject","z":"3dddaeea.f4e652","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":160,"y":760,"wires":[["cb1dfcde.fd153"]]},{"id":"e44209e7.752698","type":"http request","z":"3dddaeea.f4e652","name":"post to GW","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":550,"y":760,"wires":[["ee306582.f0dde8"]]},{"id":"ee306582.f0dde8","type":"debug","z":"3dddaeea.f4e652","name":"","active":false,"console":"false","complete":"false","x":730,"y":760,"wires":[]},{"id":"8b3ced54.f6cbb","type":"debug","z":"3dddaeea.f4e652","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":700,"wires":[]},{"id":"dbcf2f21.5acd4","type":"function","z":"94e0adf3.31d6b","name":"","func":"var payload = msg.payload;\n\nmsg.payload = {\"O\":{\"ACM\": payload}};\n\nnode.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":400,"wires":[["bd9ebdf3.c8f32"]]},{"id":"dea92862.287de8","type":"function","z":"94e0adf3.31d6b","name":"","func":"var payload = msg.payload;\nvar output\t= [];\n\nvar setpoint = {\n        \"payload\": {\n\t\t\t\t    \"O\":{\n    \t\t\t\t    \"ACO\": payload\n    \t\t\t\t}\n        },\n};\n\t\t//-----------------------------------------------------------------------------------------\n\noutput\t=\t[\n\t\t\t\tsetpoint\n\t\t\t];\nreturn output;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":420,"wires":[["bd9ebdf3.c8f32"]]},{"id":"4ba20c9e.3c70a4","type":"function","z":"94e0adf3.31d6b","name":"","func":"var payload = msg.payload;\nvar output\t= [];\n\nvar setpoint = {\n        \"payload\": {\n\t\t\t\t    \"O\":{\n    \t\t\t\t    \"PVM\": payload\n    \t\t\t\t}\n        },\n};\n\t\t//-----------------------------------------------------------------------------------------\n\noutput\t=\t[\n\t\t\t\tsetpoint\n\t\t\t];\nreturn output;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":440,"wires":[["bd9ebdf3.c8f32"]]},{"id":"2681ca3.62c4f36","type":"function","z":"94e0adf3.31d6b","name":"ACT","func":"var payload = msg.payload;\nvar output\t= [];\n\nvar setpoint = {\n        \"payload\": {\n\t\t\t\t    \"S\":{\n    \t\t\t\t    \"ACT\": payload\n    \t\t\t\t}\n        },\n};\n\t\t//-----------------------------------------------------------------------------------------\n\noutput\t=\t[\n\t\t\t\tsetpoint\n\t\t\t];\nreturn output;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":120,"wires":[["bd9ebdf3.c8f32"]]},{"id":"7ecc56c9.3b0418","type":"function","z":"94e0adf3.31d6b","name":"ACOT","func":"var payload = msg.payload;\nvar output\t= [];\n\nvar setpoint = {\n        \"payload\": {\n\t\t\t\t    \"S\":{\n    \t\t\t\t    \"ACOT\": payload\n    \t\t\t\t}\n        },\n};\n\t\t//-----------------------------------------------------------------------------------------\n\noutput\t=\t[\n\t\t\t\tsetpoint\n\t\t\t];\n\nreturn output;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":140,"wires":[["bd9ebdf3.c8f32"]]},{"id":"b27d899e.017de8","type":"function","z":"94e0adf3.31d6b","name":"PVT","func":"var payload;\nvar output\t= [];\nif(msg.payload > 70)    // limit to 70\n{\n    payload = 70;\n}\nelse\n{\n    payload = msg.payload;\n}\n\nvar setpoint = {\n        \"payload\": {\n\t\t\t\t    \"S\":{\n    \t\t\t\t    \"PVT\": payload\n    \t\t\t\t}\n        },\n};\n\t\t//-----------------------------------------------------------------------------------------\n\noutput\t=\t[\n\t\t\t\tsetpoint\n\t\t\t];\n\nreturn output;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":160,"wires":[["bd9ebdf3.c8f32"]]},{"id":"8e00c374.933db","type":"function","z":"94e0adf3.31d6b","name":"","func":"var payload = msg.payload;\nvar output\t= [];\n\nvar setpoint = {\n        \"payload\": {\n\t\t\t\t    \"A\":{\n    \t\t\t\t    \"Tr_DR\": \"\",\n    \t\t\t\t    \"A_Sc\": \"\",\n    \t\t\t\t    \"A_An\": \"\",\n    \t\t\t\t    \"A_DT\": \"\"\n    \t\t\t\t}\n        }\n};\n\t\t//-----------------------------------------------------------------------------------------\n\noutput\t=\t[\n\t\t\t\tsetpoint\n\t\t\t];\nnode.status({text:msg.payload});\nreturn output;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":460,"wires":[["bd9ebdf3.c8f32"]]},{"id":"12fea407.e8f04c","type":"function","z":"94e0adf3.31d6b","name":"set payload and headers","func":"var value = msg.payload;\nmsg.url = \"http://\"+global.get(\"IP\")+\"/gwa?topic=GWR/\"+global.get(\"unit\")+\"/1/SET&payload=\"+value;\nmsg.headers = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":460,"wires":[["75b6e27e.174eac","34f3ad57.adaca2"]]},{"id":"75b6e27e.174eac","type":"http request","z":"94e0adf3.31d6b","name":"post to GW","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":1290,"y":460,"wires":[[]]},{"id":"34f3ad57.adaca2","type":"debug","z":"94e0adf3.31d6b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":440,"wires":[]},{"id":"bd9ebdf3.c8f32","type":"json","z":"94e0adf3.31d6b","name":"","property":"payload","action":"","pretty":false,"x":910,"y":460,"wires":[["12fea407.e8f04c"]]},{"id":"c2527a9d.7bccf8","type":"complete","z":"94e0adf3.31d6b","name":"","scope":["75b6e27e.174eac"],"uncaught":false,"x":530,"y":520,"wires":[["ab2e9407.6b4978"]]},{"id":"c9d048ea.e75198","type":"ui_form","z":"5395d339.48846c","name":"","label":"","group":"9a9a4f5d.b30e5","order":3,"width":0,"height":0,"options":[{"label":"IP Address","value":"IP","type":"text","required":true,"rows":null},{"label":"Wifi Serial No","value":"SN","type":"text","required":true,"rows":null},{"label":"Element Size (kW)","value":"Size","type":"number","required":true,"rows":null},{"label":"Eskom Rate","value":"Rate","type":"number","required":true,"rows":null},{"label":"Dual Unit","value":"Dual","type":"switch","required":false,"rows":null}],"formValue":{"IP":"","SN":"","Size":"","Rate":"","Dual":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":470,"y":80,"wires":[["573a7432.aafeac"]]},{"id":"573a7432.aafeac","type":"function","z":"5395d339.48846c","name":"Settings","func":"global.set(\"unit\", msg.payload.SN);\nglobal.set(\"size\", msg.payload.Size);\nglobal.set(\"IP\", msg.payload.IP);\nglobal.set(\"EskomRate\", msg.payload.Rate);\nglobal.set(\"Dual\", msg.payload.Dual);\n//global.set(\"GeyserData\", {});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":80,"wires":[[]]},{"id":"78564af6.253eb4","type":"inject","z":"94e0adf3.31d6b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":560,"wires":[["298e3073.14be","22683738.bb31b8"]]},{"id":"ccddd605.0342a8","type":"ping","z":"5395d339.48846c","protocol":"IPv4","mode":"triggered","name":"","host":"","timer":"20","inputs":1,"x":290,"y":220,"wires":[["e503676f.3d0528"]]},{"id":"63c277e7.f38038","type":"inject","z":"5395d339.48846c","name":"","props":[{"p":"payload"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"IP","payloadType":"global","x":120,"y":220,"wires":[["ccddd605.0342a8"]]},{"id":"e503676f.3d0528","type":"function","z":"5395d339.48846c","name":"","func":"if(msg.payload === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":220,"wires":[["178636d5.0afa29"]]},{"id":"178636d5.0afa29","type":"ui_switch","z":"5395d339.48846c","name":"","label":"Online","tooltip":"GeyserWorx Connected","group":"9a9a4f5d.b30e5","order":2,"width":"0","height":"0","passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o fa-2x","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-window-close fa-2x","offcolor":"grey","animate":true,"x":630,"y":220,"wires":[[]]},{"id":"389492ec.81b43e","type":"link in","z":"5395d339.48846c","name":"OnlineCheck","links":["ab2e9407.6b4978"],"x":155,"y":260,"wires":[["54578fd.1c7537"]]},{"id":"54578fd.1c7537","type":"function","z":"5395d339.48846c","name":"","func":"msg.payload = global.get(\"IP\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":260,"wires":[["ccddd605.0342a8"]]},{"id":"e8da80c.f2e098","type":"ui_template","z":"5395d339.48846c","group":"9a9a4f5d.b30e5","name":"Group Title","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: #273746;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                font-weight: bold;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #EAECEE;\"\n            ng-style=\"{background: #EAECEE}\"\n        >Configuration\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":810,"y":80,"wires":[[]]},{"id":"4a204b0f.313564","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Enable","tooltip":"","group":"525bfa1b.1d4314","order":2,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"T1Enable","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"grey","animate":true,"x":560,"y":240,"wires":[["f3b8dcbb.66503"]]},{"id":"30d3924e.a45efe","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Mo","tooltip":"Monday","group":"525bfa1b.1d4314","order":6,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":260,"wires":[["b680ae8d.ebe98"]]},{"id":"41d4a877.0cc3d8","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Tu","tooltip":"Tuesday","group":"525bfa1b.1d4314","order":7,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":280,"wires":[["73999831.91fc68"]]},{"id":"280e68b2.eac5c8","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"We","tooltip":"Wednesday","group":"525bfa1b.1d4314","order":8,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":300,"wires":[["21fec246.1e33ee"]]},{"id":"bafc57a6.924aa8","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Th","tooltip":"Thursday","group":"525bfa1b.1d4314","order":9,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":320,"wires":[["ed992f7e.bdaab"]]},{"id":"7d8565df.70a1cc","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Fr","tooltip":"Friday","group":"525bfa1b.1d4314","order":10,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":340,"wires":[["c72ecf35.d5bd7"]]},{"id":"1656fba3.48fdf4","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Sa","tooltip":"Saturday","group":"525bfa1b.1d4314","order":11,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":360,"wires":[["617f6fdb.a96ee"]]},{"id":"f5ae693d.05d6e8","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Su","tooltip":"Sunday","group":"525bfa1b.1d4314","order":12,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":380,"wires":[["f7d2d5dc.5e1238"]]},{"id":"42ab1143.65392","type":"ui_text_input","z":"90588a53.b682a8","name":"","label":"On","tooltip":"On Time","group":"525bfa1b.1d4314","order":3,"width":3,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"","topicType":"str","x":550,"y":400,"wires":[["7aac4d78.2b45f4"]]},{"id":"817f4a6d.7353b8","type":"ui_text_input","z":"90588a53.b682a8","name":"","label":"Off","tooltip":"Off Time","group":"525bfa1b.1d4314","order":4,"width":3,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"","topicType":"str","x":550,"y":420,"wires":[["cabef378.33ff6"]]},{"id":"467f4de5.c66fc4","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer1.C;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":240,"wires":[["cc3118c5.d57b28","4a204b0f.313564"]]},{"id":"cc3118c5.d57b28","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer1.W.Mo;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":260,"wires":[["5e10dfa9.5f8e5","30d3924e.a45efe"]]},{"id":"5e10dfa9.5f8e5","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer1.W.Tu;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":280,"wires":[["5a895d51.af3704","41d4a877.0cc3d8"]]},{"id":"c8d3d6b6.1bddd8","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer1.W.Th;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":320,"wires":[["18cdfc1.cb51a04","bafc57a6.924aa8"]]},{"id":"5a895d51.af3704","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer1.W.We;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":300,"wires":[["c8d3d6b6.1bddd8","280e68b2.eac5c8"]]},{"id":"18cdfc1.cb51a04","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer1.W.Fr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":340,"wires":[["fa80ff43.101fa","7d8565df.70a1cc"]]},{"id":"fa80ff43.101fa","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer1.W.Sa;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":360,"wires":[["70057316.a256dc","1656fba3.48fdf4"]]},{"id":"70057316.a256dc","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer1.W.Su;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":380,"wires":[["7f2e1beb.d877a4","f5ae693d.05d6e8"]]},{"id":"7f2e1beb.d877a4","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nvar system_Hour     = msg.data.Timer1.S.h;\nvar system_Minute   = msg.data.Timer1.S.m;\n\nvar d = new Date(), e = new Date(d);\nvar msSinceMidnight = e.setHours(system_Hour,system_Minute,0,0) - d.setHours(0,0,0,0);\n\nif(system_Hour.toString().length == 1)   { system_Hour = '0'+system_Hour;}\nif(system_Minute.toString().length == 1) { system_Minute = '0'+system_Minute;}\n\nvar time = system_Hour + \":\" + system_Minute + \":00\";\nmsg.time = time;\nmsg.payload = msSinceMidnight;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":400,"wires":[["8bc24d0a.4682a","42ab1143.65392","dea4b12d.50325"]]},{"id":"8bc24d0a.4682a","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nvar system_Hour     = msg.data.Timer1.E.h;\nvar system_Minute   = msg.data.Timer1.E.m;\n\nvar d = new Date(), e = new Date(d);\nvar msSinceMidnight = e.setHours(system_Hour,system_Minute,0,0) - d.setHours(0,0,0,0);\n\nif(system_Hour.toString().length == 1)   { system_Hour = '0'+system_Hour;}\nif(system_Minute.toString().length == 1) { system_Minute = '0'+system_Minute;}\n\nvar time = system_Hour + \":\" + system_Minute + \":00\";\nmsg.time = time;\nmsg.payload = msSinceMidnight;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":420,"wires":[["817f4a6d.7353b8"]]},{"id":"63957b4d.d0d3e4","type":"ui_button","z":"90588a53.b682a8","name":"","group":"525bfa1b.1d4314","order":14,"width":1,"height":1,"passthru":false,"label":"","tooltip":"Save Settings","color":"","bgcolor":"","icon":"fa-floppy-o fa-2x","payload":"","payloadType":"str","topic":"","topicType":"str","x":330,"y":480,"wires":[["39ed0154.c1a1ce"]]},{"id":"39ed0154.c1a1ce","type":"function","z":"90588a53.b682a8","name":"","func":"var data = global.get(\"GeyserData\");\n\nmsg.payload = {\n    \"C\":data.Timer1.C,\n    \"S\": {\n        \"h\": parseInt(data.Timer1.S.h),\n        \"m\": parseInt(data.Timer1.S.m)\n    },\n    \"E\": {\n        \"h\": parseInt(data.Timer1.E.h),\n        \"m\": parseInt(data.Timer1.E.m)\n    },\n    \"W\": {\n        \"Mo\": data.Timer1.W.Mo,\n        \"Tu\": data.Timer1.W.Tu,\n        \"We\": data.Timer1.W.We,\n        \"Th\": data.Timer1.W.Th,\n        \"Fr\": data.Timer1.W.Fr,\n        \"Sa\": data.Timer1.W.Sa,\n        \"Su\": data.Timer1.W.Su,\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":480,"wires":[["7fd2879f.b008b8"]]},{"id":"86e28679.9788f8","type":"ui_button","z":"90588a53.b682a8","name":"Refresh","group":"525bfa1b.1d4314","order":13,"width":1,"height":1,"passthru":false,"label":"","tooltip":"Refresh","color":"","bgcolor":"","icon":"fa-refresh fa-2x","payload":"","payloadType":"str","topic":"","topicType":"str","x":100,"y":240,"wires":[["467f4de5.c66fc4","d41c91f1.a0978"]]},{"id":"a0e67d5a.7fb62","type":"comment","z":"90588a53.b682a8","name":"Timer 1","info":"","x":70,"y":200,"wires":[]},{"id":"9f926ad.ef8f498","type":"comment","z":"90588a53.b682a8","name":"Enable Timers","info":"","x":90,"y":20,"wires":[]},{"id":"4058ccf5.42cb94","type":"function","z":"90588a53.b682a8","name":"","func":"var data = global.get(\"GeyserData\");\n\nmsg.payload = data.Timers.C;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":60,"wires":[["4fadebb5.a77454"]]},{"id":"4fadebb5.a77454","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Enable Timers","tooltip":"","group":"9a077295.45684","order":1,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-window-close","offcolor":"grey","animate":true,"x":440,"y":60,"wires":[["7b7e8a2b.58aa64"]]},{"id":"7b7e8a2b.58aa64","type":"function","z":"90588a53.b682a8","name":"Set value","func":"var payload = msg.payload;\n\nmsg.payload = {\"C\":payload};\n\nnode.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":60,"wires":[["939620f5.036f2","e7e3aafa.db0fc8"]]},{"id":"939620f5.036f2","type":"json","z":"90588a53.b682a8","name":"","property":"payload","action":"","pretty":false,"x":770,"y":60,"wires":[["17f0efff.1871f"]]},{"id":"17f0efff.1871f","type":"function","z":"90588a53.b682a8","name":"set payload and headers","func":"var value = msg.payload;\nmsg.url = \"http://\"+global.get(\"IP\")+\"/gwa?topic=GWR/\"+global.get(\"unit\")+\"/1/Time/C&payload=\"+value;\nmsg.headers = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":60,"wires":[["8d0a6c13.4cb7e"]]},{"id":"8d0a6c13.4cb7e","type":"http request","z":"90588a53.b682a8","name":"post to GW","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":1170,"y":60,"wires":[[]]},{"id":"e7e3aafa.db0fc8","type":"debug","z":"90588a53.b682a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":100,"wires":[]},{"id":"d41c91f1.a0978","type":"link out","z":"90588a53.b682a8","name":"TimersRefresh","links":["2cb7eb09.2d32e4"],"x":335,"y":200,"wires":[]},{"id":"2cb7eb09.2d32e4","type":"link in","z":"3dddaeea.f4e652","name":"Timers Data","links":["d41c91f1.a0978"],"x":235,"y":380,"wires":[["9277515.474c9b"]]},{"id":"fe3be814.873ea8","type":"inject","z":"90588a53.b682a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":280,"wires":[["467f4de5.c66fc4"]]},{"id":"4971f5fd.409f9c","type":"inject","z":"3dddaeea.f4e652","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":920,"wires":[["f74f994d.ca7fa8"]]},{"id":"2e75980b.27e7d8","type":"csv","z":"3dddaeea.f4e652","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":"","x":490,"y":920,"wires":[["d0714d4.f98e3b"]]},{"id":"d0714d4.f98e3b","type":"file","z":"3dddaeea.f4e652","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":630,"y":920,"wires":[["5ca84300.5916ec"]]},{"id":"5ca84300.5916ec","type":"debug","z":"3dddaeea.f4e652","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":920,"wires":[]},{"id":"f74f994d.ca7fa8","type":"function","z":"3dddaeea.f4e652","name":"CSV Format","func":"var payload = global.get(\"GeyserData\");\nvar d = new Date();\nvar ts = d.getTime();\nvar year = d.getFullYear();\nvar month = d.getMonth()+1;\nvar day = d.getDate();\nvar hour = d.getHours();\nvar minute = d.getMinutes();\nvar second = d.getSeconds();\n\nif(month.toString().length == 1)  { month = '0'+month;}\nif(day.toString().length == 1)    { day = '0'+day;}   \nif(hour.toString().length == 1)   { hour = '0'+hour;}\nif(minute.toString().length == 1) { minute = '0'+minute;}\nif(second.toString().length == 1) { second = '0'+second;}\n\n\nvar dateString = \"Data/G1_\"+year+month+day;\nmsg.filename = dateString+\".csv\";\n\nmsg.payload = {\n    \"TS\": ts,\n    \"T_G\": payload.Analog.T.G,\n    \"T_PCB\": payload.Analog.T.PCB,\n    \"I_AC\": payload.Analog.I.AC,\n    \"I_PV\": payload.Analog.I.PV,\n    \"P_AC\": payload.Power.I.AC,\n    \"P_PV\": payload.Power.I.PV,\n    \"Alarms\": \"A\"+payload.Status.A.Tr_Te + payload.Status.A.Tr_DR + payload.Status.A.Tr_CS + payload.Status.A.Tr_PCB + payload.Status.A.A_Sc + payload.Status.A.A_An + payload.Status.A.A_DT,\n    \"O_AC\": payload.Status.O.AC,\n    \"O_PV\": payload.Status.O.PV,\n    \"S_ACM\": payload.Settings.O.ACM,\n    \"S_ACO\": payload.Settings.O.ACO,\n    \"S_PVM\": payload.Settings.O.PVM,\n    \"S_ACT\": payload.Settings.S.ACT,\n    \"S_ACOT\": payload.Settings.S.ACOT,\n    \"S_PVT\": payload.Settings.S.PVT,\n    \"S_ACCT\": payload.Settings.S.ACCT\n};\nmsg.columns = \"TS,T_G,T_PCB,I_AC,I_PV,P_AC,P_PV,Alarms,O_AC,O_PV,S_ACM,S_ACO,S_PVM,S_ACT,S_ACOT,S_PVT,S_ACCT\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":920,"wires":[["2e75980b.27e7d8"]]},{"id":"93981a71.6b8ff8","type":"debug","z":"3dddaeea.f4e652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1300,"wires":[]},{"id":"efef5d16.81e96","type":"inject","z":"3dddaeea.f4e652","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1300,"wires":[["8128a8b4.1e0008"]]},{"id":"f331331e.9963c","type":"comment","z":"3dddaeea.f4e652","name":"Retrieve Data from File","info":"","x":140,"y":1260,"wires":[]},{"id":"6e89f6e5.40a378","type":"subflow:c8c78f4d.679e8","z":"3dddaeea.f4e652","name":"","env":[],"x":570,"y":1300,"wires":[["93981a71.6b8ff8"]]},{"id":"b66ea657.f5ec28","type":"file in","z":"3dddaeea.f4e652","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":1300,"wires":[["6e89f6e5.40a378"]]},{"id":"8128a8b4.1e0008","type":"function","z":"3dddaeea.f4e652","name":"Get Today","func":"var d = new Date();\nvar ts = d.getTime();\nvar year = d.getFullYear();\nvar month = d.getMonth()+1;\nvar day = d.getDate();\nvar hour = d.getHours();\nvar minute = d.getMinutes();\nvar second = d.getSeconds();\n\nif(month.toString().length == 1)  { month = '0'+month;}\nif(day.toString().length == 1)    { day = '0'+day;}   \nif(hour.toString().length == 1)   { hour = '0'+hour;}\nif(minute.toString().length == 1) { minute = '0'+minute;}\nif(second.toString().length == 1) { second = '0'+second;}\n\n\nvar dateString = \"Data/G1_\"+year+month+day;\nmsg.filename = dateString+\".csv\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":1300,"wires":[["b66ea657.f5ec28"]]},{"id":"7bc3a099.8fa85","type":"comment","z":"3dddaeea.f4e652","name":"Save Data to File","info":"","x":120,"y":880,"wires":[]},{"id":"b8253085.e4665","type":"comment","z":"3dddaeea.f4e652","name":"Save Daily power data","info":"","x":140,"y":980,"wires":[]},{"id":"a989793.f234088","type":"inject","z":"3dddaeea.f4e652","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"55 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"GeyserData","payloadType":"global","x":160,"y":1020,"wires":[["428a5de1.2cbcf4"]]},{"id":"428a5de1.2cbcf4","type":"function","z":"3dddaeea.f4e652","name":"CSV Format","func":"var d = new Date();\nvar ts = d.getTime();\nvar year = d.getFullYear();\nvar month = d.getMonth()+1;\nvar day = d.getDate();\nvar hour = d.getHours();\nvar minute = d.getMinutes();\nvar second = d.getSeconds();\n\nif(month.toString().length == 1)  { month = '0'+month;}\nif(day.toString().length == 1)    { day = '0'+day;}   \nif(hour.toString().length == 1)   { hour = '0'+hour;}\nif(minute.toString().length == 1) { minute = '0'+minute;}\nif(second.toString().length == 1) { second = '0'+second;}\n\n\nvar dateString = \"C:/Data/G1Power_\"+year;\nmsg.filename = dateString+\".csv\";\n\nmsg.payload = {\n    \"TS\": ts,\n    \"P_AC\": msg.payload.Power.I.AC,\n    \"P_PV\": msg.payload.Power.I.PV,\n};\nmsg.columns = \"TS,P_AC,P_PV\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":1020,"wires":[["37547aff.55d4a6"]]},{"id":"37547aff.55d4a6","type":"csv","z":"3dddaeea.f4e652","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":"","x":490,"y":1020,"wires":[["3c555a93.da3976"]]},{"id":"3c555a93.da3976","type":"file","z":"3dddaeea.f4e652","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":630,"y":1020,"wires":[["5ca84300.5916ec"]]},{"id":"edcc65cd.acb3e8","type":"comment","z":"3dddaeea.f4e652","name":"Get Last kW values","info":"","x":130,"y":1340,"wires":[]},{"id":"d3263605.ab9d18","type":"link in","z":"3dddaeea.f4e652","name":"Update File","links":["ea87a6d4.893d28"],"x":215,"y":940,"wires":[["f74f994d.ca7fa8"]]},{"id":"55547c2b.e8a1e4","type":"http request","z":"90588a53.b682a8","name":"post to GW","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":1010,"y":480,"wires":[[]]},{"id":"fd404e57.40b0b","type":"function","z":"90588a53.b682a8","name":"set headers","func":"var value = msg.payload;\nmsg.url = \"http://\"+global.get(\"IP\")+\"/gwa?topic=GWR/\"+global.get(\"unit\")+\"/1/Time/1&payload=\"+value;\nmsg.headers = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":480,"wires":[["55547c2b.e8a1e4"]]},{"id":"f3b8dcbb.66503","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer1.C = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":240,"wires":[[]]},{"id":"7fd2879f.b008b8","type":"json","z":"90588a53.b682a8","name":"","property":"payload","action":"","pretty":false,"x":610,"y":480,"wires":[["fd404e57.40b0b"]]},{"id":"dea4b12d.50325","type":"debug","z":"90588a53.b682a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":440,"wires":[]},{"id":"108d7751.6c0529","type":"complete","z":"3dddaeea.f4e652","name":"Timers Complete","scope":["5d829a20.a79e34"],"uncaught":false,"x":180,"y":620,"wires":[["45d7a9d7.d20738"]]},{"id":"45d7a9d7.d20738","type":"link out","z":"3dddaeea.f4e652","name":"TimersComplete","links":["f39eb133.8ef3"],"x":325,"y":620,"wires":[]},{"id":"f39eb133.8ef3","type":"link in","z":"90588a53.b682a8","name":"","links":["45d7a9d7.d20738"],"x":155,"y":60,"wires":[["4058ccf5.42cb94"]]},{"id":"b680ae8d.ebe98","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer1.W.Mo = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":260,"wires":[[]]},{"id":"73999831.91fc68","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer1.W.Tu = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":280,"wires":[[]]},{"id":"21fec246.1e33ee","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer1.W.We = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":300,"wires":[[]]},{"id":"ed992f7e.bdaab","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer1.W.Th = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":320,"wires":[[]]},{"id":"c72ecf35.d5bd7","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer1.W.Fr = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":340,"wires":[[]]},{"id":"617f6fdb.a96ee","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer1.W.Sa = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":360,"wires":[[]]},{"id":"f7d2d5dc.5e1238","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer1.W.Su = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":380,"wires":[[]]},{"id":"7aac4d78.2b45f4","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\nvar time = new Date(msg.payload);\nvar hour = time.getUTCHours();\nvar min = time.getMinutes();\n\npayload.Timer1.S.h = hour;\npayload.Timer1.S.m = min;\nmsg.payload = hour + \":\" + min;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":400,"wires":[[]]},{"id":"cabef378.33ff6","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\nvar time = new Date(msg.payload);\nvar hour = time.getUTCHours();\nvar min = time.getMinutes();\n\npayload.Timer1.E.h = hour;\npayload.Timer1.E.m = min;\nmsg.payload = hour + \":\" + min;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":420,"wires":[[]]},{"id":"6b136e0b.67283","type":"ui_button","z":"90588a53.b682a8","name":"Refresh","group":"ced53405.48f1d8","order":13,"width":1,"height":1,"passthru":false,"label":"","tooltip":"Refresh","color":"","bgcolor":"","icon":"fa-refresh fa-2x","payload":"","payloadType":"str","topic":"","topicType":"str","x":120,"y":580,"wires":[["a9cca40a.52c898"]]},{"id":"5236470.6ef87b8","type":"comment","z":"90588a53.b682a8","name":"Timer 2","info":"","x":90,"y":540,"wires":[]},{"id":"37c1fcd7.998e44","type":"inject","z":"90588a53.b682a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":620,"wires":[["a9cca40a.52c898"]]},{"id":"ab850b29.9fbec8","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Enable","tooltip":"","group":"ced53405.48f1d8","order":2,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"grey","animate":true,"x":560,"y":620,"wires":[["99b63404.fcb3e8"]]},{"id":"2c53c031.c96","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Mo","tooltip":"Monday","group":"ced53405.48f1d8","order":6,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":640,"wires":[["91197818.ae22f8"]]},{"id":"c128f68e.3bd3e8","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Tu","tooltip":"Tuesday","group":"ced53405.48f1d8","order":7,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":660,"wires":[["de6d0962.ef8c98"]]},{"id":"4b17b54d.8ed33c","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"We","tooltip":"Wednesday","group":"ced53405.48f1d8","order":8,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":680,"wires":[["3ef1e8e3.cc8a38"]]},{"id":"b0a4c875.86f8a8","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Th","tooltip":"Thursday","group":"ced53405.48f1d8","order":9,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":700,"wires":[["ebc5de16.c6d9c"]]},{"id":"7090d116.d712e","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Fr","tooltip":"Friday","group":"ced53405.48f1d8","order":10,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":720,"wires":[["535f430d.82df6c"]]},{"id":"7f59257f.5b5f0c","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Sa","tooltip":"Saturday","group":"ced53405.48f1d8","order":11,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":740,"wires":[["145c695a.78f3c7"]]},{"id":"7773e12.7623c2","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Su","tooltip":"Sunday","group":"ced53405.48f1d8","order":12,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":760,"wires":[["a29b07cb.8d8128"]]},{"id":"c419cf78.abb63","type":"ui_text_input","z":"90588a53.b682a8","name":"","label":"On","tooltip":"On Time","group":"ced53405.48f1d8","order":3,"width":3,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"","topicType":"str","x":550,"y":780,"wires":[["16cb8541.0295ab"]]},{"id":"692b7755.22a3f8","type":"ui_text_input","z":"90588a53.b682a8","name":"","label":"Off","tooltip":"Off Time","group":"ced53405.48f1d8","order":4,"width":3,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"","topicType":"str","x":550,"y":800,"wires":[["2c633f31.3b6be"]]},{"id":"a9cca40a.52c898","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer2.C;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":620,"wires":[["1751cbb0.559f84","ab850b29.9fbec8"]]},{"id":"1751cbb0.559f84","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer2.W.Mo;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":640,"wires":[["cfc3c0e2.ee1c5","2c53c031.c96"]]},{"id":"cfc3c0e2.ee1c5","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer2.W.Tu;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":660,"wires":[["4bf182f2.ff908c","c128f68e.3bd3e8"]]},{"id":"fd179a4b.0ee358","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer2.W.Th;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":700,"wires":[["5f72b9d3.ca8158","b0a4c875.86f8a8"]]},{"id":"4bf182f2.ff908c","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer2.W.We;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":680,"wires":[["fd179a4b.0ee358","4b17b54d.8ed33c"]]},{"id":"5f72b9d3.ca8158","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer2.W.Fr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":720,"wires":[["54780082.a1ebe","7090d116.d712e"]]},{"id":"54780082.a1ebe","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer2.W.Sa;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":740,"wires":[["cf16c788.69dfc8","7f59257f.5b5f0c"]]},{"id":"cf16c788.69dfc8","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer2.W.Su;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":760,"wires":[["52bdfb94.542434","7773e12.7623c2"]]},{"id":"52bdfb94.542434","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nvar system_Hour     = msg.data.Timer2.S.h;\nvar system_Minute   = msg.data.Timer2.S.m;\n\nvar d = new Date(), e = new Date(d);\nvar msSinceMidnight = e.setHours(system_Hour,system_Minute,0,0) - d.setHours(0,0,0,0);\n\nif(system_Hour.toString().length == 1)   { system_Hour = '0'+system_Hour;}\nif(system_Minute.toString().length == 1) { system_Minute = '0'+system_Minute;}\n\nvar time = system_Hour + \":\" + system_Minute + \":00\";\nmsg.time = time;\nmsg.payload = msSinceMidnight;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":780,"wires":[["32f2315f.7f94ce","c419cf78.abb63"]]},{"id":"32f2315f.7f94ce","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nvar system_Hour     = msg.data.Timer2.E.h;\nvar system_Minute   = msg.data.Timer2.E.m;\n\nvar d = new Date(), e = new Date(d);\nvar msSinceMidnight = e.setHours(system_Hour,system_Minute,0,0) - d.setHours(0,0,0,0);\n\nif(system_Hour.toString().length == 1)   { system_Hour = '0'+system_Hour;}\nif(system_Minute.toString().length == 1) { system_Minute = '0'+system_Minute;}\n\nvar time = system_Hour + \":\" + system_Minute + \":00\";\nmsg.time = time;\nmsg.payload = msSinceMidnight;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":800,"wires":[["692b7755.22a3f8"]]},{"id":"815477c2.b5c5c8","type":"ui_button","z":"90588a53.b682a8","name":"","group":"ced53405.48f1d8","order":14,"width":1,"height":1,"passthru":false,"label":"","tooltip":"Save Settings","color":"","bgcolor":"","icon":"fa-floppy-o fa-2x","payload":"","payloadType":"str","topic":"","topicType":"str","x":330,"y":860,"wires":[["d3a004c0.389748"]]},{"id":"d3a004c0.389748","type":"function","z":"90588a53.b682a8","name":"","func":"var data = global.get(\"GeyserData\");\n\nmsg.payload = {\n    \"C\":data.Timer2.C,\n    \"S\": {\n        \"h\": parseInt(data.Timer2.S.h),\n        \"m\": parseInt(data.Timer2.S.m)\n    },\n    \"E\": {\n        \"h\": parseInt(data.Timer2.E.h),\n        \"m\": parseInt(data.Timer2.E.m)\n    },\n    \"W\": {\n        \"Mo\": data.Timer2.W.Mo,\n        \"Tu\": data.Timer2.W.Tu,\n        \"We\": data.Timer2.W.We,\n        \"Th\": data.Timer2.W.Th,\n        \"Fr\": data.Timer2.W.Fr,\n        \"Sa\": data.Timer2.W.Sa,\n        \"Su\": data.Timer2.W.Su,\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":860,"wires":[["63141297.c6abec"]]},{"id":"2acb9e38.c86ec2","type":"http request","z":"90588a53.b682a8","name":"post to GW","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":1010,"y":860,"wires":[[]]},{"id":"b136d2f3.2d383","type":"function","z":"90588a53.b682a8","name":"set headers","func":"var value = msg.payload;\nmsg.url = \"http://\"+global.get(\"IP\")+\"/gwa?topic=GWR/\"+global.get(\"unit\")+\"/1/Time/2&payload=\"+value;\nmsg.headers = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":860,"wires":[["fe12ba09.63b0e8","2acb9e38.c86ec2"]]},{"id":"99b63404.fcb3e8","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer2.C = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":620,"wires":[[]]},{"id":"63141297.c6abec","type":"json","z":"90588a53.b682a8","name":"","property":"payload","action":"","pretty":false,"x":610,"y":860,"wires":[["b136d2f3.2d383"]]},{"id":"fe12ba09.63b0e8","type":"debug","z":"90588a53.b682a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":820,"wires":[]},{"id":"91197818.ae22f8","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer2.W.Mo = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":640,"wires":[[]]},{"id":"de6d0962.ef8c98","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer2.W.Tu = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":660,"wires":[[]]},{"id":"3ef1e8e3.cc8a38","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer2.W.We = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":680,"wires":[[]]},{"id":"ebc5de16.c6d9c","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer2.W.Th = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":700,"wires":[[]]},{"id":"535f430d.82df6c","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer2.W.Fr = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":720,"wires":[[]]},{"id":"145c695a.78f3c7","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer2.W.Sa = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":740,"wires":[[]]},{"id":"a29b07cb.8d8128","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer2.W.Su = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":760,"wires":[[]]},{"id":"16cb8541.0295ab","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\nvar time = new Date(msg.payload);\nvar hour = time.getUTCHours();\nvar min = time.getMinutes();\n\npayload.Timer2.S.h = hour;\npayload.Timer2.S.m = min;\nmsg.payload = hour + \":\" + min;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":780,"wires":[[]]},{"id":"2c633f31.3b6be","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\nvar time = new Date(msg.payload);\nvar hour = time.getUTCHours();\nvar min = time.getMinutes();\n\npayload.Timer2.E.h = hour;\npayload.Timer2.E.m = min;\nmsg.payload = hour + \":\" + min;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":800,"wires":[[]]},{"id":"e81e30e0.242bd","type":"ui_template","z":"90588a53.b682a8","group":"525bfa1b.1d4314","name":"Timer 1","order":1,"width":9,"height":1,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: #273746;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                font-weight: bold;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #EAECEE;\"\n            ng-style=\"{background: #EAECEE}\"\n        > Timer 1\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":560,"y":200,"wires":[[]]},{"id":"3d4b3d0a.4e5ce2","type":"ui_template","z":"90588a53.b682a8","group":"ced53405.48f1d8","name":"Timer 2","order":1,"width":9,"height":1,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: #273746;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                font-weight: bold;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #EAECEE;\"\n            ng-style=\"{background: #EAECEE}\"\n        > Timer 2\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":560,"y":580,"wires":[[]]},{"id":"ac3f696.c6de898","type":"ui_button","z":"90588a53.b682a8","name":"Refresh","group":"a4ab6bf4.8a9088","order":13,"width":1,"height":1,"passthru":false,"label":"","tooltip":"Refresh","color":"","bgcolor":"","icon":"fa-refresh fa-2x","payload":"","payloadType":"str","topic":"","topicType":"str","x":120,"y":960,"wires":[["3412b0e6.06254"]]},{"id":"1e3baf8e.dca7","type":"comment","z":"90588a53.b682a8","name":"Timer 3","info":"","x":90,"y":920,"wires":[]},{"id":"22811e6d.d018f2","type":"inject","z":"90588a53.b682a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1000,"wires":[["3412b0e6.06254"]]},{"id":"b6941d14.a6d12","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Enable","tooltip":"","group":"a4ab6bf4.8a9088","order":2,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"grey","animate":true,"x":560,"y":1000,"wires":[["fb39efdb.a41ef"]]},{"id":"c8a362b9.a3b46","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Mo","tooltip":"Monday","group":"a4ab6bf4.8a9088","order":6,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":1020,"wires":[["9a9fbbd0.83b218"]]},{"id":"23f814bc.7ab05c","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Tu","tooltip":"Tuesday","group":"a4ab6bf4.8a9088","order":7,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":1040,"wires":[["4f6a8224.85c07c"]]},{"id":"6e73d70a.e33578","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"We","tooltip":"Wednesday","group":"a4ab6bf4.8a9088","order":8,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":1060,"wires":[["9b8c789d.56ca88"]]},{"id":"37abc4f5.08976c","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Th","tooltip":"Thursday","group":"a4ab6bf4.8a9088","order":9,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":1080,"wires":[["79d29b5a.ee44c4"]]},{"id":"fee2354e.753268","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Fr","tooltip":"Friday","group":"a4ab6bf4.8a9088","order":10,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":1100,"wires":[["c38f5c43.e00e"]]},{"id":"c0fc7013.aacdf","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Sa","tooltip":"Saturday","group":"a4ab6bf4.8a9088","order":11,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":1120,"wires":[["34ef573.238fea8"]]},{"id":"fe4ee380.a324e","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Su","tooltip":"Sunday","group":"a4ab6bf4.8a9088","order":12,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":1140,"wires":[["e993a252.bb426"]]},{"id":"b798f112.9d62d","type":"ui_text_input","z":"90588a53.b682a8","name":"","label":"On","tooltip":"On Time","group":"a4ab6bf4.8a9088","order":3,"width":3,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"","topicType":"str","x":550,"y":1160,"wires":[["405d4f55.c07cf"]]},{"id":"f1177971.9186c8","type":"ui_text_input","z":"90588a53.b682a8","name":"","label":"Off","tooltip":"Off Time","group":"a4ab6bf4.8a9088","order":4,"width":3,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"","topicType":"str","x":550,"y":1180,"wires":[["a82d6a04.1f7a78"]]},{"id":"3412b0e6.06254","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer3.C;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1000,"wires":[["47a8ef06.12df4","b6941d14.a6d12"]]},{"id":"47a8ef06.12df4","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer3.W.Mo;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1020,"wires":[["f326ef01.45eb6","c8a362b9.a3b46"]]},{"id":"f326ef01.45eb6","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer3.W.Tu;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1040,"wires":[["ecd37c1b.369a6","23f814bc.7ab05c"]]},{"id":"1264554e.c1ba0b","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer3.W.Th;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1080,"wires":[["9174df0.372062","37abc4f5.08976c"]]},{"id":"ecd37c1b.369a6","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer3.W.We;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1060,"wires":[["1264554e.c1ba0b","6e73d70a.e33578"]]},{"id":"9174df0.372062","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer3.W.Fr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1100,"wires":[["a45ec283.90a46","fee2354e.753268"]]},{"id":"a45ec283.90a46","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer3.W.Sa;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1120,"wires":[["637e639d.0bf68c","c0fc7013.aacdf"]]},{"id":"637e639d.0bf68c","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer3.W.Su;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1140,"wires":[["bce950f7.d63b7","fe4ee380.a324e"]]},{"id":"bce950f7.d63b7","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nvar system_Hour     = msg.data.Timer3.S.h;\nvar system_Minute   = msg.data.Timer3.S.m;\n\nvar d = new Date(), e = new Date(d);\nvar msSinceMidnight = e.setHours(system_Hour,system_Minute,0,0) - d.setHours(0,0,0,0);\n\nif(system_Hour.toString().length == 1)   { system_Hour = '0'+system_Hour;}\nif(system_Minute.toString().length == 1) { system_Minute = '0'+system_Minute;}\n\nvar time = system_Hour + \":\" + system_Minute + \":00\";\nmsg.time = time;\nmsg.payload = msSinceMidnight;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1160,"wires":[["74997d56.a7aa34","b798f112.9d62d"]]},{"id":"74997d56.a7aa34","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nvar system_Hour     = msg.data.Timer3.E.h;\nvar system_Minute   = msg.data.Timer3.E.m;\n\nvar d = new Date(), e = new Date(d);\nvar msSinceMidnight = e.setHours(system_Hour,system_Minute,0,0) - d.setHours(0,0,0,0);\n\nif(system_Hour.toString().length == 1)   { system_Hour = '0'+system_Hour;}\nif(system_Minute.toString().length == 1) { system_Minute = '0'+system_Minute;}\n\nvar time = system_Hour + \":\" + system_Minute + \":00\";\nmsg.time = time;\nmsg.payload = msSinceMidnight;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1180,"wires":[["f1177971.9186c8"]]},{"id":"9269f4b4.a11068","type":"ui_button","z":"90588a53.b682a8","name":"","group":"a4ab6bf4.8a9088","order":14,"width":1,"height":1,"passthru":false,"label":"","tooltip":"Save Settings","color":"","bgcolor":"","icon":"fa-floppy-o fa-2x","payload":"","payloadType":"str","topic":"","topicType":"str","x":330,"y":1240,"wires":[["5f31f774.22e998"]]},{"id":"5f31f774.22e998","type":"function","z":"90588a53.b682a8","name":"","func":"var data = global.get(\"GeyserData\");\n\nmsg.payload = {\n    \"C\":data.Timer3.C,\n    \"S\": {\n        \"h\": parseInt(data.Timer3.S.h),\n        \"m\": parseInt(data.Timer3.S.m)\n    },\n    \"E\": {\n        \"h\": parseInt(data.Timer3.E.h),\n        \"m\": parseInt(data.Timer3.E.m)\n    },\n    \"W\": {\n        \"Mo\": data.Timer3.W.Mo,\n        \"Tu\": data.Timer3.W.Tu,\n        \"We\": data.Timer3.W.We,\n        \"Th\": data.Timer3.W.Th,\n        \"Fr\": data.Timer3.W.Fr,\n        \"Sa\": data.Timer3.W.Sa,\n        \"Su\": data.Timer3.W.Su,\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1240,"wires":[["b68f2950.5bdb98"]]},{"id":"f349b47c.305848","type":"http request","z":"90588a53.b682a8","name":"post to GW","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":1010,"y":1240,"wires":[[]]},{"id":"e5bffc93.aa133","type":"function","z":"90588a53.b682a8","name":"set headers","func":"var value = msg.payload;\nmsg.url = \"http://\"+global.get(\"IP\")+\"/gwa?topic=GWR/\"+global.get(\"unit\")+\"/1/Time/3&payload=\"+value;\nmsg.headers = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":1240,"wires":[["c41f8313.8ea75","f349b47c.305848"]]},{"id":"fb39efdb.a41ef","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer3.C = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1000,"wires":[[]]},{"id":"b68f2950.5bdb98","type":"json","z":"90588a53.b682a8","name":"","property":"payload","action":"","pretty":false,"x":610,"y":1240,"wires":[["e5bffc93.aa133"]]},{"id":"c41f8313.8ea75","type":"debug","z":"90588a53.b682a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":1200,"wires":[]},{"id":"9a9fbbd0.83b218","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer3.W.Mo = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1020,"wires":[[]]},{"id":"4f6a8224.85c07c","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer3.W.Tu = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1040,"wires":[[]]},{"id":"9b8c789d.56ca88","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer3.W.We = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1060,"wires":[[]]},{"id":"79d29b5a.ee44c4","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer3.W.Th = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1080,"wires":[[]]},{"id":"c38f5c43.e00e","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer3.W.Fr = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1100,"wires":[[]]},{"id":"34ef573.238fea8","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer3.W.Sa = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1120,"wires":[[]]},{"id":"e993a252.bb426","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer3.W.Su = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1140,"wires":[[]]},{"id":"405d4f55.c07cf","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\nvar time = new Date(msg.payload);\nvar hour = time.getUTCHours();\nvar min = time.getMinutes();\n\npayload.Timer3.S.h = hour;\npayload.Timer3.S.m = min;\nmsg.payload = hour + \":\" + min;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1160,"wires":[[]]},{"id":"a82d6a04.1f7a78","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\nvar time = new Date(msg.payload);\nvar hour = time.getUTCHours();\nvar min = time.getMinutes();\n\npayload.Timer3.E.h = hour;\npayload.Timer3.E.m = min;\nmsg.payload = hour + \":\" + min;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1180,"wires":[[]]},{"id":"1f8153f0.c283fc","type":"ui_template","z":"90588a53.b682a8","group":"a4ab6bf4.8a9088","name":"Timer 3","order":1,"width":9,"height":1,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: #273746;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                font-weight: bold;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #EAECEE;\"\n            ng-style=\"{background: #EAECEE}\"\n        > Timer 3\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":560,"y":960,"wires":[[]]},{"id":"1f6eb8e3.8e5007","type":"ui_button","z":"90588a53.b682a8","name":"Refresh","group":"4a50a911.8d76b8","order":13,"width":1,"height":1,"passthru":false,"label":"","tooltip":"Refresh","color":"","bgcolor":"","icon":"fa-refresh fa-2x","payload":"","payloadType":"str","topic":"","topicType":"str","x":120,"y":1340,"wires":[["1efc843b.518e6c"]]},{"id":"96915baf.8d1298","type":"comment","z":"90588a53.b682a8","name":"Timer 4","info":"","x":90,"y":1300,"wires":[]},{"id":"4a722787.d08df8","type":"inject","z":"90588a53.b682a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1380,"wires":[["1efc843b.518e6c"]]},{"id":"1279d59e.2315ca","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Enable","tooltip":"","group":"4a50a911.8d76b8","order":2,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"grey","animate":true,"x":560,"y":1380,"wires":[["97b9301a.1bd06"]]},{"id":"84f4a5ba.7a0298","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Mo","tooltip":"Monday","group":"4a50a911.8d76b8","order":6,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":1400,"wires":[["6fbb2f0a.9c18b"]]},{"id":"3b85c35a.d66a6c","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Tu","tooltip":"Tuesday","group":"4a50a911.8d76b8","order":7,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":1420,"wires":[["5dbb3903.bf4588"]]},{"id":"4faf57e2.6d2e08","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"We","tooltip":"Wednesday","group":"4a50a911.8d76b8","order":8,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":1440,"wires":[["282bc635.2f668a"]]},{"id":"a0277da8.7b7ea","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Th","tooltip":"Thursday","group":"4a50a911.8d76b8","order":9,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":1460,"wires":[["ed360931.606378"]]},{"id":"875526d2.33a1b8","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Fr","tooltip":"Friday","group":"4a50a911.8d76b8","order":10,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":1480,"wires":[["69404559.52918c"]]},{"id":"2054bc0f.2d9514","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Sa","tooltip":"Saturday","group":"4a50a911.8d76b8","order":11,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":1500,"wires":[["f7a870e7.c554e"]]},{"id":"e126848c.6d7528","type":"ui_switch","z":"90588a53.b682a8","name":"","label":"Su","tooltip":"Sunday","group":"4a50a911.8d76b8","order":12,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-check-square-o","oncolor":"--nr-dashboard-widgetTextColor","offvalue":"0","offvalueType":"num","officon":"fa-square-o","offcolor":"--nr-dashboard-widgetTextColor","animate":true,"x":550,"y":1520,"wires":[["12615f19.ffea71"]]},{"id":"7ef5717f.8f5d8","type":"ui_text_input","z":"90588a53.b682a8","name":"","label":"On","tooltip":"On Time","group":"4a50a911.8d76b8","order":3,"width":3,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"","topicType":"str","x":550,"y":1540,"wires":[["e8766a1b.95f798"]]},{"id":"7d31b1c6.46e5d","type":"ui_text_input","z":"90588a53.b682a8","name":"","label":"Off","tooltip":"Off Time","group":"4a50a911.8d76b8","order":4,"width":3,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"","topicType":"str","x":550,"y":1560,"wires":[["4dec9b70.a9ba14"]]},{"id":"1efc843b.518e6c","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer4.C;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1380,"wires":[["a0a1dd87.39115","1279d59e.2315ca"]]},{"id":"a0a1dd87.39115","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer4.W.Mo;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1400,"wires":[["990cf70.9202d08","84f4a5ba.7a0298"]]},{"id":"990cf70.9202d08","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer4.W.Tu;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1420,"wires":[["817cc971.ce16c8","3b85c35a.d66a6c"]]},{"id":"304bd333.c4deac","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer4.W.Th;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1460,"wires":[["14fef94c.7e7867","a0277da8.7b7ea"]]},{"id":"817cc971.ce16c8","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer4.W.We;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1440,"wires":[["304bd333.c4deac","4faf57e2.6d2e08"]]},{"id":"14fef94c.7e7867","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer4.W.Fr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1480,"wires":[["9aa2e81e.a682d8","875526d2.33a1b8"]]},{"id":"9aa2e81e.a682d8","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer4.W.Sa;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1500,"wires":[["228c355a.7e39ca","2054bc0f.2d9514"]]},{"id":"228c355a.7e39ca","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nmsg.payload = msg.data.Timer4.W.Su;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1520,"wires":[["b3cae018.14f7b","e126848c.6d7528"]]},{"id":"b3cae018.14f7b","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nvar system_Hour     = msg.data.Timer4.S.h;\nvar system_Minute   = msg.data.Timer4.S.m;\n\nvar d = new Date(), e = new Date(d);\nvar msSinceMidnight = e.setHours(system_Hour,system_Minute,0,0) - d.setHours(0,0,0,0);\n\nif(system_Hour.toString().length == 1)   { system_Hour = '0'+system_Hour;}\nif(system_Minute.toString().length == 1) { system_Minute = '0'+system_Minute;}\n\nvar time = system_Hour + \":\" + system_Minute + \":00\";\nmsg.time = time;\nmsg.payload = msSinceMidnight;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1540,"wires":[["6fc673fd.9215fc","7ef5717f.8f5d8"]]},{"id":"6fc673fd.9215fc","type":"function","z":"90588a53.b682a8","name":"","func":"msg.data = global.get(\"GeyserData\");\nvar system_Hour     = msg.data.Timer4.E.h;\nvar system_Minute   = msg.data.Timer4.E.m;\n\nvar d = new Date(), e = new Date(d);\nvar msSinceMidnight = e.setHours(system_Hour,system_Minute,0,0) - d.setHours(0,0,0,0);\n\nif(system_Hour.toString().length == 1)   { system_Hour = '0'+system_Hour;}\nif(system_Minute.toString().length == 1) { system_Minute = '0'+system_Minute;}\n\nvar time = system_Hour + \":\" + system_Minute + \":00\";\nmsg.time = time;\nmsg.payload = msSinceMidnight;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1560,"wires":[["7d31b1c6.46e5d"]]},{"id":"493f412b.1e3a7","type":"ui_button","z":"90588a53.b682a8","name":"","group":"4a50a911.8d76b8","order":14,"width":1,"height":1,"passthru":false,"label":"","tooltip":"Save Settings","color":"","bgcolor":"","icon":"fa-floppy-o fa-2x","payload":"","payloadType":"str","topic":"","topicType":"str","x":330,"y":1620,"wires":[["af4cf513.bc5c58"]]},{"id":"af4cf513.bc5c58","type":"function","z":"90588a53.b682a8","name":"","func":"var data = global.get(\"GeyserData\");\n\nmsg.payload = {\n    \"C\":data.Timer4.C,\n    \"S\": {\n        \"h\": parseInt(data.Timer4.S.h),\n        \"m\": parseInt(data.Timer4.S.m)\n    },\n    \"E\": {\n        \"h\": parseInt(data.Timer4.E.h),\n        \"m\": parseInt(data.Timer4.E.m)\n    },\n    \"W\": {\n        \"Mo\": data.Timer4.W.Mo,\n        \"Tu\": data.Timer4.W.Tu,\n        \"We\": data.Timer4.W.We,\n        \"Th\": data.Timer4.W.Th,\n        \"Fr\": data.Timer4.W.Fr,\n        \"Sa\": data.Timer4.W.Sa,\n        \"Su\": data.Timer4.W.Su,\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1620,"wires":[["369c968a.9b1f2a"]]},{"id":"7eadfb32.3dca34","type":"http request","z":"90588a53.b682a8","name":"post to GW","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":1010,"y":1620,"wires":[[]]},{"id":"e5cd4268.727c","type":"function","z":"90588a53.b682a8","name":"set headers","func":"var value = msg.payload;\nmsg.url = \"http://\"+global.get(\"IP\")+\"/gwa?topic=GWR/\"+global.get(\"unit\")+\"/1/Time/4&payload=\"+value;\nmsg.headers = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":1620,"wires":[["beb27e3f.705de","7eadfb32.3dca34"]]},{"id":"97b9301a.1bd06","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer4.C = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1380,"wires":[[]]},{"id":"369c968a.9b1f2a","type":"json","z":"90588a53.b682a8","name":"","property":"payload","action":"","pretty":false,"x":610,"y":1620,"wires":[["e5cd4268.727c"]]},{"id":"beb27e3f.705de","type":"debug","z":"90588a53.b682a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":1580,"wires":[]},{"id":"6fbb2f0a.9c18b","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer4.W.Mo = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1400,"wires":[[]]},{"id":"5dbb3903.bf4588","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer4.W.Tu = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1420,"wires":[[]]},{"id":"282bc635.2f668a","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer4.W.We = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1440,"wires":[[]]},{"id":"ed360931.606378","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer4.W.Th = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1460,"wires":[[]]},{"id":"69404559.52918c","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer4.W.Fr = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1480,"wires":[[]]},{"id":"f7a870e7.c554e","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer4.W.Sa = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1500,"wires":[[]]},{"id":"12615f19.ffea71","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\npayload.Timer4.W.Su = msg.payload;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1520,"wires":[[]]},{"id":"e8766a1b.95f798","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\nvar time = new Date(msg.payload);\nvar hour = time.getUTCHours();\nvar min = time.getMinutes();\n\npayload.Timer4.S.h = hour;\npayload.Timer4.S.m = min;\nmsg.payload = hour + \":\" + min;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1540,"wires":[[]]},{"id":"4dec9b70.a9ba14","type":"function","z":"90588a53.b682a8","name":"set payload","func":"// {\"C\":1,\"S\":{\"h\":4,\"m\":15},\"E\":{\"h\":6,\"m\":45},\"W\":{\"Mo\":1,\"Tu\":1,\"We\":1,\"Th\":1,\"Fr\":1,\"Sa\":0,\"Su\":0}}\nvar payload = global.get(\"GeyserData\");\nvar time = new Date(msg.payload);\nvar hour = time.getUTCHours();\nvar min = time.getMinutes();\n\npayload.Timer4.E.h = hour;\npayload.Timer4.E.m = min;\nmsg.payload = hour + \":\" + min;\nglobal.set(\"GeyserData\", payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1560,"wires":[[]]},{"id":"beb13e36.9889f","type":"ui_template","z":"90588a53.b682a8","group":"4a50a911.8d76b8","name":"Timer 4","order":1,"width":9,"height":1,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: #273746;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                font-weight: bold;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #EAECEE;\"\n            ng-style=\"{background: #EAECEE}\"\n        > Timer 4\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":560,"y":1340,"wires":[[]]},{"id":"34b0dd74.25df92","type":"ui_text_input","z":"5395d339.48846c","name":"","label":"System Time","tooltip":"System Time","group":"efe91aea.44c2b8","order":2,"width":0,"height":0,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":450,"y":460,"wires":[[]]},{"id":"a5a51498.5b8308","type":"ui_text_input","z":"5395d339.48846c","name":"","label":"GeyserWorx Time","tooltip":"GeyserWorx Time","group":"efe91aea.44c2b8","order":3,"width":0,"height":0,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":470,"y":500,"wires":[[]]},{"id":"528d2590.1aa97c","type":"ui_button","z":"5395d339.48846c","name":"Refresh Time","group":"efe91aea.44c2b8","order":4,"width":"3","height":"1","passthru":false,"label":"","tooltip":"Update Time","color":"","bgcolor":"","icon":"fa-refresh fa-2x","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":460,"wires":[["97886d44.7b41c","2fa40384.478d7c"]]},{"id":"db877f59.df9e5","type":"ui_button","z":"5395d339.48846c","name":"Set Time","group":"efe91aea.44c2b8","order":5,"width":"3","height":"1","passthru":false,"label":"","tooltip":"Set time on GeyserWorx","color":"","bgcolor":"","icon":"fa-download fa-2x","payload":"Set","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":540,"wires":[["eca8063a.446df8"]]},{"id":"97886d44.7b41c","type":"function","z":"5395d339.48846c","name":"","func":"var time = new Date();\n\nmsg.payload = time.getTime();\nflow.set(\"Year\", time.getFullYear());\nflow.set(\"Month\", time.getMonth()+1);\nflow.set(\"Day\", time.getDate());\nflow.set(\"Hour\", time.getHours());\nflow.set(\"Minute\", time.getMinutes());\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":460,"wires":[["34b0dd74.25df92"]]},{"id":"3a7bc44e.28440c","type":"link in","z":"3dddaeea.f4e652","name":"Time Data","links":["2fa40384.478d7c"],"x":235,"y":340,"wires":[["c8c97430.ce8cb8"]]},{"id":"2fa40384.478d7c","type":"link out","z":"5395d339.48846c","name":"","links":["3a7bc44e.28440c"],"x":235,"y":440,"wires":[]},{"id":"2c01e81c.3524c8","type":"function","z":"5395d339.48846c","name":"","func":"var data = global.get(\"GeyserData\");\nvar year = data.Time.Y;\nvar month = data.Time.M;\nvar day = data.Time.D;\nvar hour = data.Time.h;\nvar sec = data.Time.m;\n\nvar time = new Date(year,month,day,hour,sec,0,0);\n\nmsg.payload = time.getTime();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":500,"wires":[["a5a51498.5b8308"]]},{"id":"3b11cbd4.9df1e4","type":"link out","z":"3dddaeea.f4e652","name":"TimeCheck","links":["ce588467.20d678"],"x":695,"y":340,"wires":[]},{"id":"ce588467.20d678","type":"link in","z":"5395d339.48846c","name":"TimeCheckCompl","links":["3b11cbd4.9df1e4"],"x":175,"y":500,"wires":[["2c01e81c.3524c8"]]},{"id":"eca8063a.446df8","type":"function","z":"5395d339.48846c","name":"","func":"var Y = flow.get(\"Year\");\nvar M = flow.get(\"Month\");\nvar D = flow.get(\"Day\");\nvar h = flow.get(\"Hour\");\nvar m = flow.get(\"Minute\");\n\nmsg.payload = {\n    // {\"Y\":1990,\"M\":12,\"D\":31,\"h\":12,\"m\":30}\n    \"Y\":Y,\n    \"M\":M,\n    \"D\":D,\n    \"h\":h,\n    \"m\":m\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":540,"wires":[["dce830f3.9fbd6"]]},{"id":"dce830f3.9fbd6","type":"json","z":"5395d339.48846c","name":"","property":"payload","action":"","pretty":false,"x":390,"y":540,"wires":[["79740692.eedc88"]]},{"id":"79740692.eedc88","type":"function","z":"5395d339.48846c","name":"set headers","func":"var value = msg.payload;\nmsg.url = \"http://\"+global.get(\"IP\")+\"/gwa?topic=GWR/\"+global.get(\"unit\")+\"/S/Time/G&payload=\"+value;\nmsg.headers = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":540,"wires":[["fb7432bd.d537e"]]},{"id":"fb7432bd.d537e","type":"http request","z":"5395d339.48846c","name":"post to GW","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":730,"y":540,"wires":[[]]},{"id":"7b15fd27.2486b4","type":"ui_template","z":"5395d339.48846c","group":"efe91aea.44c2b8","name":"Group Title","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: #273746;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                font-weight: bold;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: #EAECEE;\"\n            ng-style=\"{background: #EAECEE}\"\n        >GeyserWorx Time Set\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":460,"wires":[[]]},{"id":"17af73a5.d597ec","type":"comment","z":"5395d339.48846c","name":"GeyserWorx Time Setting","info":"","x":130,"y":400,"wires":[]},{"id":"54242126.5e2c","type":"comment","z":"5395d339.48846c","name":"GeyserWorx Configuration","info":"","x":130,"y":40,"wires":[]},{"id":"a590206b.cf31e","type":"ui_button","z":"5395d339.48846c","name":"Refresh Data","group":"9a9a4f5d.b30e5","order":4,"width":"0","height":"0","passthru":false,"label":"","tooltip":"Refresh System Configuration","color":"","bgcolor":"","icon":"fa-refresh fa-2x","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":120,"wires":[["328ace3e.a7a0a2"]]}]